@font-face {
    font-family: "ArabicPixel1";
    src: url("ArabicPixel1.ttf");
}

@font-face {
    font-family: "ArabicPixel2";
    src: url("ArabicPixel2.ttf");
}

body {
    display: flex;
    font-family: 'ArabicPixel2', cursive;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
}

* {}

@supports (-webkit-touch-callout: none) {
    body {
        zoom: .85;
    }
    #scoreContainer,
    #timerContainer {
        position: absolute;
        display: flex;
        justify-content: center;
        margin: auto;
        top: 65px;
        left: 0px;
        right: 0;
        font-size: 15px;
        cursor: default;
        z-index: 201;
    }
}

#readyMsg,
#goMsg {
    position: absolute;
    font-size: 50px;
    font-weight: bolder;
    transform: translate(70%, 350%);
    z-index: 201;
    display: none;
    cursor: default;
}

#scoreContainer,
#timerContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    margin: auto;
    top: 65px;
    font-size: 15px;
    cursor: default;
    z-index: 201;
}

#timerContainer {
    top: 45px;
}

#gameoverPopup,
#startingPopup,
#infoPopup,
#explainPopup,
#settingsPopup,
#enterNNPopup,
#leaderboardPopup {
    position: absolute;
    text-align: center;
    background-color: #d62c2c;
    border: black 2px solid;
    width: 440px;
    height: 305px;
    font-size: 50px;
    cursor: default;
    z-index: 202;
    top: 150px;
    text-align: center;
    text-align: -webkit-center;
}

#startingPopup {
    line-height: 75px;
    animation: fontChangeStart .90s linear infinite;
}

#infoPopupBtn,
#explainPopupBtn,
#settingsPopupBtn,
#leaderboardPopupBtn {
    font-size: 18px;
    border-top: black dashed 1px;
    height: 35px;
}

#difficultyText {
    font-size: 11px;
    text-align: center;
    line-height: 40px;
}

#infoPopupBtn:hover,
#explainPopupBtn:hover,
#settingsPopupBtn:hover,
#leaderboardPopupBtn:hover {
    background-color: #864344;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

#langContainer,
#soundContainer,
#resetContainer,
#socialContainer,
.containers {
    display: flex;
    justify-content: center;
}

#gameoverPopup {
    line-height: 110px;
    display: none;
    animation: fontChangeGameover 1.80s linear infinite;
}

#startingPopup div {
    font-size: 23.5px;
    line-height: 40px;
}

#gameoverPopup div {
    font-size: 21px;
    line-height: 38px;
}

#highestCoinsContainer div,
#highestTimeContainer div {
    line-height: 45px;
    font-size: 20px;
}

#startingPopup div {
    animation: fontChangeStartDiv .90s linear infinite;
}

#startingPopup div b {
    animation: fontChangeStartDiv1 .90s linear infinite;
}

#gameoverPopup div b,
#startingPopup div b {
    font-size: 27px;
}

#infoPopup,
#explainPopup,
#settingsPopup,
#enterNNPopup,
#leaderboardPopup {
    font-size: 38px;
    line-height: 70px;
    display: none;
}

#enterNNPopupInput {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: inherit;
    width: 300px;
    height: 100px;
    color: #000000;
    border: black 2px solid;
    background-color: #ff97513a;
}

#enterNNPopupInput::placeholder {
    font-size: 14px;
    color: rgb(102, 102, 102);
}

#enterNNPopup {
    line-height: 108px;
    display: none;
}

#enterNNPopup p {
    font-size: 14px;
    margin: 0;
    margin-top: -70px;
    margin-bottom: -38px;
}

#settingsPopup {
    line-height: 50px;
}

.settingsTitles {
    font-size: 22px;
}

#spaceImg {
    height: 26px;
    width: 65px;
}

#enterImg {
    height: 45px;
    width: 45px;
}

#listContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 104%;
    height: 75%;
}

.alist,
.mainAlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 1px;
    font-size: 14px;
}

.mainAlist {
    height: 3px;
    width: 454.5px;
}

.alist div,
.mainAlist div {
    text-align: center;
    margin: 0px;
    padding: 0;
    width: 24.2%;
    line-height: 20px;
}

.mainAlist div:nth-child(1) {
    width: 23%;
    margin-left: 3px;
}

.mainAlist div {
    border-bottom: black solid 1px;
    padding-bottom: 3px;
}

.alist div {
    padding-top: 3px;
    line-height: 20px;
}

.proto {
    margin-top: -50px;
    font-weight: bold;
    font-size: 15px;
}

#leaderboardPopup {
    line-height: 70px;
}

#English,
#Arabic,
#Music,
#Voice,
#Reset,
#Email,
#Linkedin,
#Website,
#Twitter,
#Github,
#Download,
#ZoomIn,
#ZoomOut,
#Difficulty,
#DoneName {
    height: 40px;
    line-height: 45px;
    width: 42px;
    font-size: 20px;
    background-color: #8cd7da;
    border: black solid 2px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 3px;
    cursor: pointer;
}

#Linkedin,
#Website,
#Twitter,
#Github,
#Download {
    line-height: 43px;
}

#Linkedin img,
#Website img,
#Twitter img,
#Github img,
#Download img {
    height: 32px;
    width: 32px;
}

#Email {
    font-size: 25px;
}

#English:hover,
#Arabic:hover,
#Music:hover,
#Voice:hover,
#Reset:hover,
#Email:hover,
#Linkedin:hover,
#Website:hover,
#Twitter:hover,
#Github:hover,
#Download:hover,
#ZoomIn:hover,
#ZoomOut:hover,
#Difficulty:hover,
#DoneName:hover,
#orderBtn:hover {
    background-color: #864344;
    font-weight: bolder;
}

#Music:hover>img,
#Voice:hover>img {
    height: 23px;
    width: 23px;
}

#Linkedin:hover>img,
#Website:hover>img,
#Twitter:hover>img,
#Github:hover>img,
#Download:hover>img {
    height: 33px;
    width: 33px;
}

#English,
#ZoomIn,
#ZoomOut {
    line-height: 40px;
}

#Arabic {
    line-height: 18px;
    font-size: 24px;
}

#Music img,
#Voice img,
#Reset img {
    height: 22px;
    width: 22px;
}

#zoomContainer {
    font-family: 'ArabicPixel2';
}

#x1,
#x2,
#x3,
#x5,
#x4 {
    position: absolute;
    top: 0px;
    left: 10px;
    cursor: pointer;
    width: 25px;
    font-size: 20px;
}

#orderBtn {
    position: absolute;
    top: 22px;
    left: 389px;
    height: 35px;
    line-height: 17px;
    text-align: center;
    width: 40px;
    font-size: 9px;
    background-color: #8cd7da;
    border: black solid 2px;
}

#x5 {
    top: -35px;
}

#x1:hover,
#x2:hover,
#x3:hover,
#x5:hover,
#x4:hover {
    font-weight: bold;
    color: #000000c5;
}

.envs {
    position: relative;
}

#cloud {
    height: 80px;
    width: 200px;
    background-color: rgba(105, 105, 105, 0);
    top: 30px;
    left: 240px;
    animation: cloudAnimation 20s linear infinite;
    background-image: url("img/cloud/1.png");
    z-index: 200;
}

#sun {
    height: 80px;
    width: 80px;
    background-color: rgb(255, 248, 155);
    box-shadow: 0 0 25px rgb(255, 248, 155);
    top: 20px;
    left: -180px;
    z-index: 1;
}

#moon {
    height: 80px;
    width: 80px;
    background-color: ghostwhite;
    top: 650px;
    left: 60px;
    z-index: 1;
    box-shadow: 0 0 12px white;
}

#innerBody {
    width: 444px;
    display: flex;
    flex-wrap: wrap;
    background-color: skyblue;
}

#above {
    width: 444px;
    height: 550px;
    background-color: skyblue;
    color: rgba(127, 255, 212, 0);
    overflow: hidden;
}

#ground {
    width: 444px;
    height: 110px;
    background-color: rgb(255, 151, 81);
    color: rgba(255, 127, 80, 0);
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
}

#jumpBtn,
#hitBtn {
    background-color: #8cd7da;
    border: black solid 2px;
    z-index: 400;
    background-size: cover;
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    margin: 21px;
    color: black;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
}

#jumpBtn:hover,
#hitBtn:hover {
    background-color: #864344;
    cursor: pointer;
    font-weight: bolder;
}

.b {
    background-color: #8cd7da;
    border: black solid 2px;
    padding: 12px;
    padding-left: 11px;
    padding-right: 11px;
    margin: -2px;
    font-size: 16px;
}

.b:nth-last-child(n+2) {
    padding-left: 4px;
    padding-right: 4px;
}

#DoneName {
    background-size: cover;
    height: 55px;
    line-height: 55px;
    cursor: pointer;
    font-weight: bold;
    /* margin-left: 110px; */
}

#player {
    position: relative;
    height: 104px;
    width: 64px;
    top: 420px;
    left: 60px;
    background-color: rgba(0, 0, 255, 0);
    transition: 0.40s linear;
    background-size: cover;
    background-image: url("img/player/new/0.png");
    z-index: 203;
}

#obstacle {
    position: relative;
    height: 50px;
    width: 50px;
    top: 370px;
    left: 454px;
    background-color: rgba(238, 168, 39, 0);
    background-image: url("img/obstacle/1.png");
    z-index: 100;
}

#obstacle2 {
    position: relative;
    height: 86px;
    width: 70px;
    top: 310px;
    left: 454px;
    background-color: rgba(119, 0, 20, 0);
    background-image: url("img/obstacle2/5.png");
    background-size: cover;
    z-index: 100;
}

#coins {
    position: relative;
    height: 32px;
    width: 25px;
    top: 270px;
    left: 454px;
    background-color: rgba(160, 131, 0, 0);
    background-image: url("img/coin/1.png");
    background-size: cover;
    z-index: 100;
}

.delyCoin1 {
    animation: moveObstacle 1.8s linear infinite, coinAnimation 0.6s infinite;
}

.delyCoin2 {
    animation: moveObstacle 1.8s linear infinite, coinAnimation 0.6s infinite;
}

.delyCoin3 {
    animation: moveObstacle 1.6s linear infinite, coinAnimation 0.6s infinite;
}

.delyCoin4 {
    animation: moveObstacle 1.4s linear infinite, coinAnimation 0.6s infinite;
}

.delyCoin5 {
    animation: moveObstacle 1.2s linear infinite, coinAnimation 0.6s infinite;
}

.delyCoin6 {
    animation: moveObstacle 1s linear infinite, coinAnimation 0.6s infinite;
}

.delyCoin7 {
    animation: moveObstacle .8s linear infinite, coinAnimation 0.6s infinite;
}

.delyObstacle1 {
    animation: moveObstacle 1.8s linear infinite;
}

.delyObstacle2 {
    animation: moveObstacle 1.8s linear infinite;
}

.delyObstacle3 {
    animation: moveObstacle 1.6s linear infinite;
}

.delyObstacle4 {
    animation: moveObstacle 1.4s linear infinite;
}

.delyObstacle5 {
    animation: moveObstacle 1.2s linear infinite;
}

.delyObstacle6 {
    animation: moveObstacle 1s linear infinite;
}

.delyObstacle7 {
    animation: moveObstacle .8s linear infinite;
}

.delyObstacle21 {
    animation: moveObstacle 2s linear infinite, obstacle2Animation 0.5s infinite;
}

.delyObstacle22 {
    animation: moveObstacle 1.8s linear infinite, obstacle2Animation 0.5s infinite;
}

.delyObstacle23 {
    animation: moveObstacle 1.6s linear infinite, obstacle2Animation 0.5s infinite;
}

.delyObstacle24 {
    animation: moveObstacle 1.4s linear infinite, obstacle2Animation 0.5s infinite;
}

.delyObstacle25 {
    animation: moveObstacle 1.2s linear infinite, obstacle2Animation 0.5s infinite;
}

.delyObstacle26 {
    animation: moveObstacle 1s linear infinite, obstacle2Animation 0.5s infinite;
}

.delyObstacle27 {
    animation: moveObstacle .8s linear infinite, obstacle2Animation 0.5s infinite;
}

.jump {
    animation: jump 0.6s linear;
}

.longJump {
    animation: longJump 0.9s linear;
}

.walking {
    animation: playerAnimation .6s infinite;
}

.playerAnimationStanding {
    animation: playerAnimationStanding 2s infinite;
}

.dying {
    animation: dying 0.55s ease-in-out;
}

.goToStart {
    animation: goToStart 1.7s linear;
}

.sunAnimation1 {
    animation: sunAnimation1 240s linear forwards;
}

.moonAnimation1 {
    animation: moonAnimation1 240s linear forwards;
}

.skyAnimation1 {
    animation: skyAnimation1 240s linear forwards;
}

.sunAnimation2 {
    animation: sunAnimation2 240s linear forwards;
}

.moonAnimation2 {
    animation: moonAnimation2 240s linear forwards;
}

.skyAnimation2 {
    animation: skyAnimation2 240s linear forwards;
}

@keyframes longJump {
    0% {
        top: 420px;
        background-image: url("img/player/new/j3.png");
    }
    5% {
        top: 390px;
        background-image: url("img/player/new/j3.png");
    }
    10% {
        top: 370px;
        background-image: url("img/player/new/j3.png");
    }
    25% {
        top: 360px;
        background-image: url("img/player/new/j3.png");
    }
    75% {
        top: 370px;
        background-image: url("img/player/new/j3.png");
    }
    80% {
        top: 370px;
        background-image: url("img/player/new/j3.png");
    }
    90% {
        top: 420px;
        background-image: url("img/player/new/j3.png");
    }
    100% {
        top: 420px;
        background-image: url("img/player/new/j3.png");
    }
}

@keyframes jump {
    0% {
        top: 420px;
        background-image: url("img/player/new/j3.png");
    }
    15% {
        top: 370px;
        background-image: url("img/player/new/j3.png");
    }
    30% {
        top: 360px;
        background-image: url("img/player/new/j3.png");
    }
    45% {
        top: 360px;
        background-image: url("img/player/new/j3.png");
    }
    60% {
        top: 360px;
        background-image: url("img/player/new/j3.png");
    }
    75% {
        top: 410px;
        background-image: url("img/player/new/j3.png");
    }
    90% {
        top: 420px;
        background-image: url("img/player/new/j3.png");
    }
}

@keyframes goToStart {
    0% {
        transform: translateX(135px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes moveObstacle {
    0% {
        left: 454px
    }
    100% {
        left: -60px
    }
}

@keyframes fontChangeStart {
    0% {
        font-size: 50.5px;
    }
    100% {
        font-size: 50px;
    }
}

@keyframes fontChangeStartDiv {
    0% {
        font-size: 19px;
    }
    100% {
        font-size: 19.5px;
    }
}

@keyframes fontChangeStartDiv1 {
    0% {
        font-size: 23.5px;
    }
    100% {
        font-size: 24px;
    }
}

@keyframes fontChangeGameover {
    0% {
        font-weight: normal;
    }
    50% {
        font-weight: bolder;
    }
    100% {
        font-weight: bolder;
    }
}

@keyframes dying {
    0% {
        opacity: 100%;
        background-image: url("img/player/new/d.png");
    }
    100% {
        opacity: 0;
        width: 0;
        background-image: url("img/player/new/d.png");
    }
}

@keyframes playerAnimation {
    0% {
        background-image: url("img/player/new/1.png");
    }
    12.5% {
        background-image: url("img/player/new/8.png");
    }
    25% {
        background-image: url("img/player/new/7.png");
    }
    37.5% {
        background-image: url("img/player/new/6.png");
    }
    50% {
        background-image: url("img/player/new/5.png");
    }
    62.5% {
        background-image: url("img/player/new/4.png");
    }
    75% {
        background-image: url("img/player/new/3.png");
    }
    87.5% {
        background-image: url("img/player/new/2.png");
    }
    100% {
        background-image: url("img/player/new/1.png");
    }
}

@keyframes playerAnimationStanding {
    0% {
        background-image: url("img/player/new/0.png");
    }
    10% {
        background-image: url("img/player/new/01.png");
    }
    20% {
        background-image: url("img/player/new/0.png");
    }
    30% {
        background-image: url("img/player/new/02.png");
    }
    40% {
        background-image: url("img/player/new/0.png");
    }
    50% {
        background-image: url("img/player/new/0.png");
    }
    60% {
        background-image: url("img/player/new/0.png");
    }
    70% {
        background-image: url("img/player/new/01.png");
    }
    80% {
        background-image: url("img/player/new/0.png");
    }
    90% {
        background-image: url("img/player/new/02.png");
    }
    100% {
        background-image: url("img/player/new/0.png");
    }
}

@keyframes coinAnimation {
    0% {
        background-image: url("img/coin/3.png");
    }
    16.67% {
        background-image: url("img/coin/4.png");
    }
    33.34% {
        background-image: url("img/coin/4.png");
    }
    50% {
        background-image: url("img/coin/3.png");
    }
    66.67% {
        background-image: url("img/coin/2.png");
    }
    83.34% {
        background-image: url("img/coin/1.png");
    }
    100% {
        background-image: url("img/coin/2.png");
    }
}

@keyframes obstacle2Animation {
    0% {
        background-image: url("img/obstacle2/3.png");
    }
    10% {
        background-image: url("img/obstacle2/3.png");
    }
    20% {
        background-image: url("img/obstacle2/4.png");
    }
    30% {
        background-image: url("img/obstacle2/4.png");
    }
    40% {
        background-image: url("img/obstacle2/5.png");
    }
    50% {
        background-image: url("img/obstacle2/5.png");
    }
    60% {
        background-image: url("img/obstacle2/5.png");
    }
    70% {
        background-image: url("img/obstacle2/5.png");
    }
    80% {
        background-image: url("img/obstacle2/4.png");
    }
    90% {
        background-image: url("img/obstacle2/4.png");
    }
    100% {
        background-image: url("img/obstacle2/4.png");
    }
}

@keyframes sunAnimation1 {
    0% {
        background-color: rgb(255, 248, 155);
        top: 20px;
        box-shadow: 0 0 25px rgb(255, 248, 155);
    }
    100% {
        background-color: rgb(248, 120, 0);
        top: 650px;
        box-shadow: 0 0 1px orange;
    }
}

@keyframes moonAnimation1 {
    0% {
        background-color: rgb(153, 153, 153);
        top: 650px;
        box-shadow: 0 0 1px rgb(153, 153, 153);
    }
    100% {
        background-color: ghostwhite;
        top: 20px;
        box-shadow: 0 0 12px white;
    }
}

@keyframes skyAnimation1 {
    0% {
        background-color: skyblue;
    }
    60% {
        background-color: rgb(209, 143, 43);
    }
    100% {
        background-color: rgb(39, 0, 75);
    }
}

@keyframes cloudAnimation {
    0% {
        left: 240px;
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        left: 0px;
        opacity: 0;
    }
}

@keyframes sunAnimation2 {
    0% {
        background-color: rgb(255, 153, 58);
        top: 650px;
        box-shadow: 0 0 1px orange;
    }
    100% {
        background-color: rgb(255, 248, 155);
        top: 20px;
        box-shadow: 0 0 25px rgb(255, 248, 155);
    }
}

@keyframes moonAnimation2 {
    0% {
        background-color: ghostwhite;
        top: 20px;
        box-shadow: 0 0 12px white;
    }
    100% {
        background-color: rgb(153, 153, 153);
        top: 650px;
        box-shadow: 0 0 1px rgb(153, 153, 153);
    }
}

@keyframes skyAnimation2 {
    0% {
        background-color: rgb(39, 0, 75);
    }
    40% {
        background-color: rgb(241, 184, 98);
    }
    100% {
        background-color: skyblue;
    }
}