<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Runman Dashbord</title>
</head>

<body>

    <ol id="listContainer">
        <li class="mainAlist">
            <div class="proto">Rank</div>
            <div class="proto">Name</div>
            <div class="proto">Coins</div>
            <div class="proto">Time</div>
        </li>

    </ol>
    <div style="position: fixed">
        <div id="inputsContainer">
            <input placeholder="name" id="name" onfocus="this.value=''" type="text">
            <input placeholder="hcoins" id="hcoins" onfocus="this.value=''" type="tel">
            <input placeholder="htime" id="htime" onfocus="this.value=''" type="tel">
        </div>

        <div id="btnContainer">
            <button id="insert" type="button">Insert</button>
            <button id="update" type="button">Update</button>
            <button id="delete" type="button">Delete</button>
        </div>
    </div>
    <div id="msg"></div>

</body>
<style>
    html {
        background-color: black;
        color: white;
        margin: 10px;
    }
    
    #inputsContainer,
    #btnContainer {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    
    #btnContainer {
        margin-top: 20px;
    }
    
    input,
    button {
        text-align: center;
        font-size: 20px;
        height: 70px;
        width: 120px;
        margin: 5px;
        background-color: #000333;
        color: white;
    }
    
    input::placeholder {
        color: #b9b9b9;
        font-size: 30px;
    }
    
    button {
        font-size: 30px;
        background-color: #1d2155;
        ;
    }
    
    #listContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        user-select: none;
    }
    
    .alist,
    .mainAlist {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 20px;
        font-size: 18px;
        justify-content: space-evenly;
    }
    
    .alist div,
    .mainAlist div {
        text-align: center;
        margin: 0px;
        padding: 0px;
        width: 25%;
        line-height: 20px;
    }
    
    .mainAlist div {
        border-bottom: white solid 1px;
    }
    
    .alist div {
        padding-top: 10px;
        line-height: 20px;
        margin-bottom: 5px;
    }
    
    .proto {
        font-weight: bold;
        font-size: 15px;
    }
</style>
<script>
    let order = 2;
    fetch('http://www.br19.me/runman/users', {
            headers: {

                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            method: 'get'
        })
        .then((response) => {
            return response.json();
        }).then((usersFetched) => {
            let listContainer = document.getElementById('listContainer');
            if (document.getElementsByClassName('alist')[0]) {
                const elements = document.getElementsByClassName('alist');
                while (elements.length > 0) {
                    elements[0].parentNode.removeChild(elements[0]);
                }
            }
            for (let i of Object.keys(usersFetched)) {

                //alist
                let alist = document.createElement('li');
                alist.setAttribute('class', 'alist');
                listContainer.appendChild(alist);
                //alist


                //rank
                let rank = document.createElement('div');
                rank.setAttribute('class', 'rank');

                alist.appendChild(rank);
                rank.innerText = `${Number(i) + 1}`
                    //rank

                //nameInList
                let nameInList = document.createElement('div');
                nameInList.setAttribute('class', 'nameInList');
                alist.appendChild(nameInList);
                nameInList.innerText = `${usersFetched[i]['name']}`
                    //nameInList

                //hcoinInList
                let hcoinInList = document.createElement('div');
                hcoinInList.setAttribute('class', 'hcoinInList');
                alist.appendChild(hcoinInList);
                hcoinInList.innerText = `${usersFetched[i]['hcoins']}`;
                //hcoinInList

                //htimeInList
                let htimeInList = document.createElement('div');
                htimeInList.setAttribute('class', 'htimeInList');
                alist.appendChild(htimeInList);
                htimeInList.innerText = `${usersFetched[i]['htime']}`;
                //htimeInList
            }


        });

    function deleteRecord(name) {
        if (document.getElementById('name').value == '') return;
        fetch(`http://www.br19.me/runman/userDelete/${name}/HelloWorld1432`, {
                headers: {

                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                }
            })
            .then((response) => {
                return response.json();
            }).then((responseJson) => {

                if (responseJson.statCode == 204) {
                    document.getElementById('msg').innerHTML = '<b style="color:green">Deleted Successfully</b>';
                    setTimeout(() => {
                        document.getElementById('msg').innerHTML = '';
                        location.reload();
                    }, 2000);
                } else if (responseJson.statCode == 404) {
                    document.getElementById('msg').innerHTML = '<b style="color:purple">User not found</b>';
                    setTimeout(() => {
                        document.getElementById('msg').innerHTML = '';
                    }, 2000);
                } else {
                    document.getElementById('msg').innerHTML = '<b style="color:red">Deletion Failed!!</b>';
                    setTimeout(() => {
                        document.getElementById('msg').innerHTML = '';
                    }, 2000);
                }

            });
    }

    document.getElementById('delete').addEventListener('click', () => {
        deleteRecord((document.getElementById('name').value))
    });

    function insertRecord(name, hcoins, htime) {
        if (document.getElementById('name').value == '') return;
        if (document.getElementById('hcoins').value == '') return;
        if (document.getElementById('htime').value == '') return;
        fetch(`http://www.br19.me/runman/userAdd/${name}/${hcoins}/${htime}/HelloWorld1432`, {
                headers: {

                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                }
            })
            .then((response) => {
                return response.json();
            }).then((responseJson) => {

                if (responseJson.statCode == 201) {
                    document.getElementById('msg').innerHTML = '<b style="color:green">Inserted Successfully</b>';
                    setTimeout(() => {
                        document.getElementById('msg').innerHTML = '';
                        location.reload();
                    }, 2000);
                } else if (responseJson.statCode == 400) {
                    document.getElementById('msg').innerHTML = '<b style="color:red">Invalid inputs</b>';
                    setTimeout(() => {
                        document.getElementById('msg').innerHTML = '';
                    }, 2000);
                } else if (responseJson.statCode == 403) {
                    document.getElementById('msg').innerHTML = '<b style="color:purple">Name already exists</b>';
                    setTimeout(() => {
                        document.getElementById('msg').innerHTML = '';
                    }, 2000);
                } else {
                    document.getElementById('msg').innerHTML = '<b style="color:red">Insertion Failed!!</b>';
                    setTimeout(() => {
                        document.getElementById('msg').innerHTML = '';
                    }, 2000);
                }

            });
    }

    document.getElementById('insert').addEventListener('click', () => {
        insertRecord((document.getElementById('name').value), (document.getElementById('hcoins').value), (document.getElementById('htime').value))
    });

    function updateRecord(name, hcoins, htime) {
        if (document.getElementById('name').value == '') return;
        if (document.getElementById('hcoins').value == '') return;
        if (document.getElementById('htime').value == '') return;
        fetch(`http://www.br19.me/runman/userUpdate/${name}/${hcoins}/${htime}/HelloWorld1432`, {
                headers: {

                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                }
            })
            .then((response) => {
                return response.json();
            }).then((responseJson) => {

                if (responseJson.statCode == 200) {
                    document.getElementById('msg').innerHTML = '<b style="color:green">Updated Successfully</b>';
                    setTimeout(() => {
                        document.getElementById('msg').innerHTML = '';
                        location.reload();
                    }, 2000);
                } else if (responseJson.statCode == 400) {
                    document.getElementById('msg').innerHTML = '<b style="color:red">Invalid inputs</b>';
                    setTimeout(() => {
                        document.getElementById('msg').innerHTML = '';
                    }, 2000);
                } else if (responseJson.statCode == 404) {
                    document.getElementById('msg').innerHTML = '<b style="color:purple">Name not found</b>';
                    setTimeout(() => {
                        document.getElementById('msg').innerHTML = '';
                    }, 2000);
                } else {
                    document.getElementById('msg').innerHTML = '<b style="color:red">Updating Failed!!</b>';
                    setTimeout(() => {
                        document.getElementById('msg').innerHTML = '';
                    }, 2000);
                }

            });
    }

    document.getElementById('update').addEventListener('click', () => {
        updateRecord((document.getElementById('name').value), (document.getElementById('hcoins').value), (document.getElementById('htime').value))
    });
</script>

</html>