<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://www.br19.me/static/Runman/style.css">
    <script src="http://www.br19.me/static/Runman/script.js" defer></script>


    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/cloud/1.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/cloud/2.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/cloud/3.png">

    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/coin/0.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/coin/1.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/coin/2.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/coin/3.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/coin/4.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/coin/gold.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/coin/silver.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/coin/bronze.png">

    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle/1.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle/2.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle/3.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle/4.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle/5.png">

    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle2/1.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle2/2.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle2/3.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle2/4.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle2/5.png">

    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/0.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/01.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/02.png">

    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/1.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/2.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/3.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/4.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/5.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/6.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/7.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/8.png">

    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/d.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/j3.png">


    <title>Runman</title>
</head>

<body>

    <div id="timerContainer">
        <div id="timerTitle"></div>
        <div id="timer">0</div>s
    </div>
    <div id="scoreContainer">
        <div id="score">0</div>
        <div id="scoreTitle"><img style="width: 12px; height: 13px;" src="http://www.br19.me/static/Runman/img/coin/0.png" alt="Coins"></div>
    </div>

    <div id="innerBody">
        <div id="readyMsg">READY</div>
        <div id="goMsg">GO!!!</div>

        <div id="cloud" class="envs"></div>
        <div id="sun" class="envs"></div>
        <div id="moon" class="envs"></div>

        <div id="startingPopup">RUNMAN<br>
            <div style="font-weight: bold;">Press <b>S key</b> or <br>Touch <b id="startBtn">►</b> to Start</div>
            <div id="explainPopupBtn">How to Play</div>
            <div id="leaderboardPopupBtn">Leaderboard</div>
            <div id="settingsPopupBtn">Settings</div>
            <div id="infoPopupBtn">About</div>
        </div>
        <div id="gameoverPopup">Game Over<br>
            <div>Press <b>A key</b> or <br>Touch <b id="replayBtn">↻</b> to Play Again</div>
            <div style="display: flex; justify-content: center;" class="highest" id="highestTimeContainer">
                <div id="HTtitle">Best Time : </div>
                <div id="highestTime">0</div>
                <div style="font-size: 20px;">s</div>
            </div>
            <div style="display: flex; justify-content: center;" class="highest" id="highestCoinsContainer">
                <div id="HCtitle">Best # of <img src="http://www.br19.me/static/Runman/img/coin/0.png" alt="Coins"> : </div>
                <div id="highestCoins">0</div>
            </div>
        </div>
        <div id="infoPopup">About
            <div id="x1">X</div>
            <div style="display: flex; flex-wrap: wrap; line-height: 55px;">
                <div style="line-height: 69px; width: 100%; display: flex; justify-content: center; flex-wrap: wrap; padding-bottom: 60px;">
                    <div style="font-size: 25px; width: 100%;">Developer Social:</div>
                    <div style="width: 100%; line-height: 40px;" id="socialContainer">
                        <div title="Email Address" id="Email">@</div>
                        <div title="LinkedIn Account" id="Linkedin"><img src="http://www.br19.me/static/Runman/img/icons/Linkedin.png" alt="LinkedIn">
                        </div>
                        <div title="My Website" id="Website"><img src="http://www.br19.me/static/Runman/img/icons/Website.png" alt="Website"></div>
                        <div title="Twitter Account" id="Twitter"><img src="http://www.br19.me/static/Runman/img/icons/Twitter.png" alt="Twitter"></div>
                        <div title="Github Account" id="Github"><img src="http://www.br19.me/static/Runman/img/icons/Github.png" alt="Github"></div>
                        <a title="Download the Game" id="Download" href="Runman.zip" download="Runman"><img src="http://www.br19.me/static/Runman/img/icons/Download.png" alt="Download"></a>
                    </div>
                </div>
                <div style="line-height: 19px; width: 100%; display: flex; justify-content: center; flex-wrap: wrap;">
                    <div style="font-size: 15px; width: 100%;">Version: 6.5</div>
                    <div style="font-size: 10px; width: 100%;">Developed By: BR19<br>Song By: hmmm101</div>
                </div>
            </div>
        </div>

        <div id="enterNNPopup">Enter Name
            <div id="x5">X</div><br>
            <p>to register your rank in Leaderboard</p>
            <input accept-charset="ISO-8859-1" maxlength="10" placeholder="Enter max 10-letter name" id="enterNNPopupInput" type="text">
            <div style="width: 50%;" id="DoneName">Done</div>
        </div>

        <div id="leaderboardPopup">Leaderboard
            <div id="x4">X</div>
            <div id="orderBtn">Sort By</div><br>
            <ol id="listContainer">
                <li class="mainAlist">
                    <div class="proto">Rank</div>
                    <div class="proto">Name</div>
                    <div class="proto"># of <img style="width: 12px; height: 13px;" src="http://www.br19.me/static/Runman/img/coin/0.png" alt="Coins">
                    </div>
                    <div class="proto">Time(s)</div>
                </li>
            </ol>
        </div>

        <div id="explainPopup">How To Play
            <div id="x2">X</div><br>
            <div style="font-size: 13px; font-weight: normal; line-height: 100px;">Press <img id="spaceImg" src="http://www.br19.me/static/Runman/img/icons/Space.png" alt="Space"> or <b class="b">JUMP</b> to avoid obstacles.<br>Press <img id="enterImg" src="http://www.br19.me/static/Runman/img/icons/Enter.png" alt="Enter">                or <b class="b">HIT</b> to kill the monsters.
            </div>
        </div>
        <div id="settingsPopup">Settings
            <div id="x3">X</div><br>
            <div style="display: flex; flex-wrap: wrap;">
                <div class="settingsTitles" style=" width: 50%;">Language:</div>
                <div style="width: 50%;" id="langContainer">
                    <div style="font-family: ArabicPixel1;" class="containers" id="Arabic">ع</div>
                    <div class="containers" id="English">E</div>
                </div>

                <div class="settingsTitles" style=" width: 50%;">Sound:</div>
                <div style="width: 50%;" class="containers" id="soundContainer">
                    <div id="Music"><img src="http://www.br19.me/static/Runman/img/icons/MusicOn.png" alt="Music On"></div>
                    <div id="Voice"><img src="http://www.br19.me/static/Runman/img/icons/VoiceOn.png" alt="Voice On"></div>
                </div>

                <div class="settingsTitles" style=" width: 50%;">Zoom:</div>
                <div style="width: 50%;" class="containers" id="zoomContainer">
                    <div id="ZoomIn">+</div>
                    <div id="ZoomOut">-</div>
                </div>

                <div class="settingsTitles" style=" width: 50%;">Difficulty:</div>
                <div style="width: 50%;" title="Easy: long jump and hit range" class="containers" id="diffContainer">
                    <div id="Difficulty">
                        <div id="difficultyText">Easy</div>
                    </div>
                </div>

                <div class="settingsTitles" style=" width: 50%;">Reset:</div>
                <div style="width: 50%;" class="containers" id="resetContainer">
                    <div id="Reset"><img src="http://www.br19.me/static/Runman/img/icons/Reset.png" alt="Reset"></div>
                </div>

            </div>
        </div>

        <div id="above">a
            <div id="player"></div>
            <div id="obstacle"></div>
            <div id="obstacle2"></div>
            <div id="coins"></div>
        </div>
        <div id="ground">
            <div id="jumpBtn">JUMP</div>
            <div id="hitBtn">HIT</div>
        </div>
    </div>



</body>

</html>
<style>
    #Linkedin,
    #Website,
    #Twitter,
    #Github,
    #Download {
        line-height: 55px;
    }
</style>