<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://www.br19.me/static/Runman/style.css">
    <script src="http://www.br19.me/static/Runman/script.js" defer></script>


    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/cloud/1.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/cloud/2.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/cloud/3.png">

    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/coin/0.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/coin/1.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/coin/2.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/coin/3.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/coin/4.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/coin/gold.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/coin/silver.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/coin/bronze.png">

    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle/1.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle/2.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle/3.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle/4.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle/5.png">

    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle2/1.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle2/2.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle2/3.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle2/4.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/obstacle2/5.png">

    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/0.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/01.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/02.png">

    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/1.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/2.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/3.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/4.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/5.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/6.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/7.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/8.png">

    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/d.png">
    <link rel="preload" as="image" href="http://www.br19.me/static/Runman/img/player/new/j3.png">


    <title>رن مان</title>
</head>

<body>

    <div style="direction: rtl;" id="timerContainer">
        <div id="timerTitle"></div>
        <div id="timer">0</div>ث
    </div>
    <div style="direction: rtl;" id="scoreContainer">
        <div style="margin-right: 2px;" id="score">0</div>
        <div id="scoreTitle" style="line-height: 17px; margin-right: 2px;"><img style="width: 12px; height: 13px;" src="http://www.br19.me/static/Runman/img/coin/0.png" alt="Coins"></div>
    </div>

    <div id="innerBody">

        <div id="readyMsg">إستعداد</div>
        <div style="direction: rtl;" id="goMsg">إنطلاق!</div>

        <div id="cloud" class="envs"></div>
        <div id="sun" class="envs"></div>
        <div id="moon" class="envs"></div>

        <div id="startingPopup">ـرن مانـ<br>
            <div id="startBtn" style="font-weight: bold;">اضغط <b>حرف س</b> <br>ا ؤ المس <b>◄</b> للبدء</div>
            <div id="explainPopupBtn">كيفية اللعب</div>
            <div id="leaderboardPopupBtn">قائمة المتـصد ـرين</div>
            <div id="settingsPopupBtn">الـإعداداتـ</div>
            <div id="infoPopupBtn">حول</div>
        </div>
        <div style="direction: rtl;" id="gameoverPopup">خسرتـ اللعبة<br>
            <div id="replayBtn">اضغط <b>حرف ش</b><br>ا ؤ المس <b>↻</b> للعب مجددا</div>
            <div style="display: flex; justify-content: center;" class="highest" id="highestTimeContainer">
                <div id="HTtitle">أفضل ؤقت : </div>
                <div id="highestTime">0</div>
                <div style="font-size: 20px;">ث</div>
            </div>
            <div style="display: flex; justify-content: center;" class="highest" id="highestCoinsContainer">
                <div id="HCtitle">أفضل عدد من <img src="http://www.br19.me/static/Runman/img/coin/0.png" alt="Coins"> : </div>
                <div id="highestCoins">0</div>
            </div>
        </div>
        <div id="infoPopup">حول
            <div id="x1">X</div>
            <div style="display: flex; flex-wrap: wrap; line-height: 55px;">
                <div style="line-height: 69px; width: 100%; display: flex; justify-content: center; flex-wrap: wrap; padding-bottom: 60px; direction:rtl;">
                    <div style="font-size: 25px; width: 100%;">تواصل مع المطوـر:</div>
                    <div style="width: 100%; line-height: 40px;" id="socialContainer">
                        <div title="البريد الإكتروني" id="Email" style="font-family: ArabicPixel2;">@</div>
                        <div title="حساب LinkedIn" id="Linkedin"><img src="http://www.br19.me/static/Runman/img/icons/Linkedin.png" alt="LinkedIn"></div>
                        <div title="موقعي الإكتروني" id="Website"><img src="http://www.br19.me/static/Runman/img/icons/Website.png" alt="Website"></div>
                        <div title="حساب Twitter" id="Twitter"><img src="http://www.br19.me/static/Runman/img/icons/Twitter.png" alt="Twitter"></div>
                        <div title="حساب Github" id="Github"><img src="http://www.br19.me/static/Runman/img/icons/Github.png" alt="Github"></div>
                        <a title="حمل اللعبة" id="Download" href="Runman.zip" download="Runman"><img src="http://www.br19.me/static/Runman/img/icons/Download.png" alt="Download"></a>
                    </div>
                </div>
                <div style="line-height: 19px; width: 100%; display: flex; justify-content: center; flex-wrap: wrap;">
                    <div style="font-size: 15px; width: 100%;">النسخة: 6.5</div>
                    <div style="direction:rtl; font-size: 10px; width: 100%;">مطور اللعبة: BR19<br>الموسيقى من: hmmm101
                    </div>
                </div>
            </div>
        </div>

        <div id="enterNNPopup">أدخل اسمًا
            <div id="x5">X</div><br>
            <p>لتسجيل اسمك في قائمة المتـصد ـرين</p>
            <input accept-charset="ISO-8859-1" maxlength="10" placeholder="أدخل اسمًا أقصاه عشرة حروف" id="enterNNPopupInput" type="text">
            <div style="width: 50%;" id="DoneName">تــــــــم</div>
        </div>


        <div id="leaderboardPopup">المتـصد ـرين
            <div id="x4">X</div>
            <div id="orderBtn">ترتيب حسب</div><br>
            <ol id="listContainer">
                <div class="mainAlist">
                    <div class="proto">المركز</div>
                    <div class="proto">الـاسم</div>
                    <div class="proto" style="direction: rtl; display:flex; justify-content: center;">عدد
                        <div2 style="width: 30%; line-height: 9px;"><img style="width: 12px; height: 13px;" src="http://www.br19.me/static/Runman/img/coin/0.png" alt="Coins"></div2>
                    </div>
                    <div class="proto" style="direction: rtl">الوقت(ث)</div>
                </div>
            </ol>
        </div>

        <div id="explainPopup">كيفية الـلعب
            <div id="x2">X</div><br>
            <div style="direction:rtl; font-size: 20px; font-weight: normal; line-height: 100px;">اضغط <img id="spaceImg" src="http://www.br19.me/static/Runman/img/icons/Space.png" alt="Space"> ا ؤ <b class="b">قفز</b> لتجنب العوائق.
                <br>اضغط <img id="enterImg" src="http://www.br19.me/static/Runman/img/icons/Enter.png" alt="Enter"> ا ؤ <b class="b">ضرب</b> لقتل الوحوش.
            </div>
        </div>
        <div id="settingsPopup">الـإعداداتـ
            <div id="x3">X</div><br>
            <div style="display: flex; flex-wrap: wrap; direction: rtl;">
                <div class="settingsTitles" style="width: 50%;">اللغة:</div>
                <div style="width: 50%;" id="langContainer">
                    <div style="font-family: ArabicPixel1;" id="Arabic">ع</div>
                    <div id="English">E</div>
                </div>

                <div class="settingsTitles" style="width: 50%;">الصوتـ:</div>
                <div style="width: 50%;" id="soundContainer">
                    <div id="Music"><img src="http://www.br19.me/static/Runman/img/icons/MusicOn.png" alt="Music On"></div>
                    <div id="Voice"><img src="http://www.br19.me/static/Runman/img/icons/VoiceOn.png" alt="Voice On"></div>
                </div>

                <div class="settingsTitles" style="width: 50%;">حجم الشاشة:</div>
                <div style="width: 50%;" class="containers" id="zoomContainer">
                    <div id="ZoomIn">+</div>
                    <div id="ZoomOut">-</div>
                </div>

                <div class="settingsTitles" style=" width: 50%;">الصعوبة:</div>
                <div style="width: 50%;" title="سهل: قفز ومدى ضرب أطول || " class="containers" id="diffContainer">
                    <div id="Difficulty">
                        <div id="difficultyText">سهل</div>
                    </div>
                </div>


                <div class="settingsTitles" style="width: 50%;">إعادة تعيين:</div>
                <div style="width: 50%;" class="containers" id="resetContainer">
                    <div id="Reset"><img src="http://www.br19.me/static/Runman/img/icons/Reset.png" alt="Reset"></div>
                </div>
            </div>
        </div>

        <div id="above">a
            <div id="player"></div>
            <div id="obstacle"></div>
            <div id="obstacle2"></div>
            <div id="coins"></div>
        </div>
        <div id="ground">
            <div id="jumpBtn">قفز</div>
            <div id="hitBtn">ضرب</div>
        </div>
    </div>




</body>

</html>
<style>
    @font-face {
        font-family: "ArabicPixel2";
        src: url("http://www.br19.me/static/Runman/ArabicPixel2.ttf");
    }
    
    body {
        font-family: 'ArabicPixel1', cursive;
    }
    
    #Linkedin,
    #Website,
    #Twitter,
    #Github,
    #Download {
        line-height: 42px;
    }
    
    #Email {
        line-height: 40px;
    }
    
    #Music img,
    #Voice img,
    #Reset img {
        height: 22px;
        width: 22px;
        padding-bottom: 8px;
    }
    
    #ZoomIn {
        line-height: 40px;
    }
    
    #difficultyText {
        font-size: 17px;
        text-align: center;
        line-height: 40px;
    }
    
    #startingPopup {
        line-height: 70px;
    }
    
    .b:nth-last-child(n+1) {
        padding-left: 12.5px;
        padding-right: 12.5px;
        margin: 2px;
    }
</style>