alembic==1.6.5
aniso8601==6.0.0
appdirs==1.4.4
astroid==2.3.3
autopep8==1.6.0
awscli==1.20.24
awsebcli==3.20.2
Babel==2.9.1
backcall==0.2.0
blinker==1.4
botocore==1.21.24
cement==2.8.2
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
click==7.1.2
colorama==0.4.3
config2py==0.0.3
debugpy==1.5.1
decorator==5.0.9
distlib==0.3.2
docutils==0.15.2
dol==0.1.20
ecdsa==0.17.0
entrypoints==0.3
filelock==3.0.12
Flask==2.0.1
Flask-Cors==3.0.7
Flask-Migrate==3.0.1
Flask-Moment==1.0.1
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
future==0.16.0
greenlet==1.1.0
gunicorn==20.1.0
idna==2.10
importlib-resources==5.1.4
ipykernel==6.4.2
ipython==7.25.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
jupyter-client==7.0.6
jupyter-core==4.8.1
lazy-object-proxy==1.4.0
Mako==1.1.4
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
mccabe==0.6.1
nest-asyncio==1.5.1
numpy==1.20.3
pandas==1.2.4
parso==0.8.2
pathspec==0.5.9
pickleshare==0.7.5
pipenv==2021.11.23
postgres==3.0.0
prompt-toolkit==3.0.19
psycopg2==2.8.6
psycopg2-binary==2.8.6
psycopg2-pool==1.1
py2store==0.1.2
pyasn1==0.4.8
pycodestyle==2.8.0
pycparser==2.20
pycryptodome==3.10.1
Pygments==2.9.0
PyJWT==2.1.0
pylint==2.4.4
pypiwin32==223
python-dateutil==2.8.1
python-dotenv==0.11.0
python-editor==1.0.4
python-jose==3.3.0
pytz==2019.1
pywin32==301
PyYAML==5.4.1
pyzmq==22.3.0
requests==2.25.1
rsa==4.7.2
s3transfer==0.5.0
semantic-version==2.8.5
sentry-sdk==1.1.0
six==1.12.0
SQLAlchemy==1.3.4
termcolor==1.1.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
typed-ast==1.4.2
untokenize==0.1.1
urllib3==1.26.5
virtualenv==20.4.7
virtualenv-clone==0.5.7
wcwidth==0.1.9
Werkzeug==2.0.2
wrapt==1.11.1
WTForms==2.3.3
zipp==3.4.1
