<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1∉3</title>

    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7882c25953.js" crossorigin="anonymous"></script>
    <link href="../../static/onethree/style.css" rel="stylesheet">
    <link href="../../static/onethree/mstyle.css" rel="stylesheet">
    <script src="../../static/onethree/script.js"></script>
</head>

<body id="body" scrolling="no" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">

    <div id="whole" scrolling="no">
        <!---------- startMenu ------------->
        <div id="game_menu">

            <div class="menu_elements">
                <h2 class="game_logo"><img id="logoImg" src="../../static/onethree/img/1-nbt-3t.png"></h2>
                <h2 id="game_play"><i class="fas fa-play"></i></i>
                </h2>
                <!-- popupExplain -->
                <div class="popups">
                    <div class="popupExplain" id="popupExplain">
                        <div class="overlayE"></div>
                        <div class="popupExplainContainer">
                            <div class="popupExplainCloseBtn" onclick="togglePopupExplain()">&times;</div>
                            <h1 class="popupExplainTitle">كيـفـيّـة الـلـعـب </h1>
                            <p class="popupExplainPara">بعد ضغطك على <i class="fas fa-play"></i>، سيظهر لك اربعة أجوبة مختلفة لسؤال أو لغز ما، بالإعتماد على مستوى ذكائك، حدد الإجابة الصحيحة منها وأجب على أكبر قدر ممكن من الأسئلة. كل إجابة ستعطيك نقطة واحدة وسيخصم منك بمقدارها إذا
                                أجبت خطأً. اثبت مستوى ذكائك! بالتوفيق.</p>
                            <div id="dl">
                                <h6><i class="fas fa-quote-left"></i> الوضع الداكن: <i class="far fa-moon"></i> غير مفعل</i> <i class="fas fa-quote-right"></i></h6>
                            </div>
                            <div id="dd"><i class="fas fa-quote-left"></i> الوضع الداكن: <i class="fas fa-moon"></i> مفعل</i> <i class="fas fa-quote-right"></i></h6>
                            </div>
                        </div>
                    </div>

                    <button class="popupExplainBtn" onclick="togglePopupExplain()"><i class="fas fa-question-circle"></i></button>

                    <!-- popupInfo -->
                    <div class="popupInfo" id="popupInfo">
                        <div class="overlayI"></div>
                        <div class="popupInfoContainer">
                            <div class="popupInfoCloseBtn" onclick="togglePopupInfo()">&times;</div>
                            <h1 class="popupInfoTitle">تــواصــل مـع المــطـور</h1>
                            <p class="popupInfoPara">
                                <h5 id="twitterAccount"><a href="https://twitter.com/BR19_tw"><i class="fab fa-twitter"></i> BR19_tw</a></h5>
                                <h5 id="instagramAccount"><a href="http://www.br19.me"><i class="fas fa-globe"></i> BR19.me</a></h5>
                                <h5 id="emailAddress"><a href="mailto: ibrahim-abdalaziz@hotmail.com"><i class="fas fa-at"></i> ibrahim-abdalaziz@hotmail.com</a></h5>
                                <h5 id="ver"><i class="fab fa-instagram"></i> amsk_gx :مصمم شعار اللعبة || Version- النسخة- 1.0.0</h5>
                            </p>
                        </div>
                    </div>

                    <button class="popupInfoBtn" onclick="togglePopupInfo()"><i class="fas fa-info-circle"></i></button>

                </div>

            </div>
        </div>

    </div>


    <!---------- endStartMenu ------------->


    <!---------- gamepaly ----------->

    <div id="topBar">
        <div id="scoreContainer"></div>
        <h2 id="score">0</h2>
        <h3 id="yourScore">:نــقـاطـك</h3>
    </div>
    <div id="gameplay">
        <div class="container">
            <div id="question-container" class="hide">
                <div id="question">Question</div>
                <div id="answer-buttons" class="btn-grid">
                    <button class="btn">Answer 1</button>
                    <button class="btn">Answer 2</button>
                    <button class="btn">Answer 3</button>
                    <button class="btn">Answer 4</button>
                </div>

                <div class="controls">
                    <button id="start-btn" class="start-btn btn">إبدأ</button>
                    <button id="next-btn" class="next-btn btn hide">التالي <i class="fas fa-forward"></i></button>
                    <button onclick="location.reload()" id="restart-btn" class="restart-btn hide">إعادة اللعب <i class="fas fa-redo-alt"></i></button>
                </div>
                <div id="finish" class="finish hide">
                    <h3 id="finishTitle">!إنـتهت الأسئـلة</h3>
                    <div id="finishRest">
                        <h2 id="scoreB">0</h2>
                        <p id=finishPara>أنهيت الأسئلة كلها بمجموع نقاط </p>
                    </div>
                    <h4 id="determineIQ" class="determineIQ">op</h4>
                </div>
            </div>
        </div>

        <!---------- endGamepaly ----------->
    </div>


    <!-- Hitsteps TRACKING CODE - Manual 2021-03-18 - DO NOT CHANGE -->
    <script type="text/javascript">
        (function() {
            var hstc = document.createElement('script');
            hstc.src = 'https://log.hitsteps.net/track.php?code=e97a2c18169dad9896a6457e04f56658';
            hstc.async = true;
            var htssc = document.getElementsByTagName('script')[0];
            htssc.parentNode.insertBefore(hstc, htssc);
        })();
    </script><noscript><a href="http://www.hitsteps.com/"><img src="//log.hitsteps.net/track.php?mode=img&amp;code=e97a2c18169dad9896a6457e04f56658" alt="web statistics" width="1" height="1" />Realtime website tracking</a></noscript>
    <!-- Hitsteps TRACKING CODE - DO NOT CHANGE -->
</body>

</html>