@media only screen and (max-width: 1000px) {
    :root {
        touch-action: pan-x pan-y;
        height: 100%
    }
    .btns {
        padding-top: 5%
    }
    #losingPopup {
        width: 84.66%;
        top: 37%;
        height: 52%;
        left: 7%;
        padding-top: 7%;
    }
    #replayBtn {
        font-size: 60px;
        width: 40%;
        margin-left: 30%;
        padding-top: 5%
    }
    #startPopup {
        width: 88%;
        top: 12%;
        height: 85%;
        left: 6%;
    }
    #gameLogoContainer {
        margin-bottom: 5%;
        width: 35%;
        border-radius: 90%;
        margin-left: 33%;
    }
    #startBtn {
        margin-bottom: 5%;
        font-size: 50px;
        width: 35%;
        border-radius: 100%;
        margin-left: 33%;
        padding-top: 15px;
    }
    .btns {
        text-align: center;
        font-size: 40px;
        width: 17%;
        line-height: 70px;
    }
    #pauseBtn {
        line-height: 50px;
    }
    #popupInfo {
        width: 97%;
        top: 46%;
        bottom: 8%;
        left: 1%;
    }
    #popupSettings {
        width: 97%;
        top: 46%;
        bottom: 8%;
        left: 1%;
    }
    #popupExplain {
        width: 97%;
        top: 46%;
        bottom: 8%;
        left: 1%;
    }
    .things {
        font-size: 50px;
        line-height: 257%;
        height: 15%;
        width: 20%;
    }
    #thing1,
    #thing4,
    #thing7 {
        left: 12%;
    }
    #thing2,
    #thing5,
    #thing8 {
        left: 40%;
    }
    #thing3,
    #thing6,
    #thing9 {
        left: 69%;
    }
}

@media only screen and (max-width: 600px) {
    #gameLogoContainer {
        margin-bottom: 20%;
        width: 50%;
        border-radius: 90%;
        margin-left: 25%;
    }
    #startBtn {
        margin-bottom: 10%;
        font-size: 50px;
        width: 35%;
        border-radius: 100%;
        margin-left: 33%;
    }
}

@media (prefers-color-scheme: dark) {
    #lightMode {
        display: none;
    }
    #darktMod {
        display: block;
    }
    body {
        background-color: #000000;
    }
    #topArea {
        background-color: #38384e;
        color: white;
    }
    #readyMsg,
    #goMsg {
        color: white;
    }
    #startPopup {
        background-color: #0d0d1d;
        border: #000000 solid 1px;
    }
    #losingPopup,
    #pausePopup {
        background-color: #0d0d1d;
        border: #000000 solid 1px;
        color: white;
    }
    #replayBtn {
        background-color: #131338;
    }
    #gameLogoContainer {
        background-color: #131338;
    }
    #startBtn {
        background-color: #131338;
        color: white;
    }
    #startBtn:hover {
        background-color: #1b1b50;
    }
    .btns,
    #pauseBtn {
        background-color: #131338;
        color: white;
    }
    .btns:hover,
    #pauseBtn:hover {
        background-color: #1b1b50;
    }
    #popupInfo {
        background-color: #111114;
        border: #000000 solid 1px;
        color: white;
    }
    #popupInfoTitle {
        border-bottom: solid 1px #000000;
    }
    #popupInfoCloseBtn {
        color: white;
    }
    #twitterAccount a,
    #LinkedinAccount a,
    #emailAddress a,
    #website a {
        color: white;
    }
    #popupSettings {
        background-color: #111114;
        border: #000000 solid 1px;
        color: white;
    }
    #popupSettingsTitle {
        border-bottom: solid 1px #000000;
        color: white;
    }
    #popupSettingsCloseBtn {
        color: white;
    }
    #langBox {
        border: 1px #000000 solid;
        color: rgb(0, 0, 0);
        background-color: #131338;
    }
    #langBoxBefore {
        color: rgb(255, 255, 255);
    }
    #en {
        border: 1px #000000 solid;
        color: rgb(255, 255, 255);
        background-color: #1b1b3b;
    }
    #ar {
        border: 1px #000000 solid;
        color: rgb(255, 255, 255);
        background-color: #1b1b3b;
    }
    #en:hover {
        background-color: #212161;
    }
    #ar:hover {
        background-color: #212161;
    }
    #themeBox {
        width: 60%;
        font-size: 15px;
        border: 1px #000000 solid;
        border-radius: 30px;
        color: #ffffff;
        background-color: #131338;
        text-align: center;
        display: inline-block;
    }
    #setBtn {
        background-color: #131338;
        border: #000000 1px solid;
        color: #ffffff;
    }
    #setBtn:hover {
        background-color: #1b1b50;
    }
    #popupExplain {
        background-color: #111114;
        border: #000000 solid 1px;
    }
    #popupExplainTitle {
        color: white;
        border-bottom: solid 1px #000000;
    }
    #popupExplainCloseBtn {
        color: white;
    }
    #popupExplainPara {
        color: white;
    }
    #bodyArea {
        background-color: #29293d;
    }
    .places {
        border-top: #8fb3ff solid 0.1px;
        color: #29293d;
    }
    #place7,
    #place8,
    #place9 {
        border-bottom: #8fb3ff solid 0.1px;
    }
    #place2,
    #place5,
    #place8 {
        border-right: #8fb3ff solid 0.1px;
        border-left: #8fb3ff solid 0.1px;
    }
    #place1,
    #place4,
    #place7 {
        border-left: #8fb3ff solid 0.1px;
    }
    #place3,
    #place6,
    #place9 {
        border-right: #8fb3ff solid 0.1px;
    }
    .things {
        background-color: rgb(58, 14, 14);
        color: rgb(0, 0, 0);
    }
    .things:hover {
        background-color: rgb(80, 19, 19);
    }
}