#darktMod {
    display: none;
}

* {
    font-family: 'Tajawal', sans-serif;
}

body {
    background-color: #7b7bd4;
    overflow: hidden;
}

#readyMsg,
#goMsg {
    position: absolute;
    font-size: 100px;
    font-weight: bolder;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    display: none;
}

#topArea {
    display: flex;
    text-align: center;
    background-color: #b5b5ff;
    padding-top: 1%;
    font-size: x-large;
    justify-content: space-evenly;
}

#score,
#tries {
    font-size: xx-large;
    font-weight: bolder;
}

#bordersContainer {
    display: flex;
    justify-content: space-between;
}

#startPopup {
    display: inline-block;
    position: absolute;
    background-color: #7373fd;
    width: 66.66%;
    top: 14%;
    height: 78%;
    left: 16%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    text-align: center;
    padding-top: 5%;
    z-index: 10;
    border: black solid 1px;
}

#losingPopup,
#pausePopup {
    display: none;
    position: absolute;
    background-color: #7373fd;
    width: 66.66%;
    top: 37%;
    height: 45%;
    left: 16%;
    border-radius: 50px;
    text-align: center;
    z-index: 10;
    font-size: 23.5px;
    border: black solid 1px;
}

#pausePopup {
    padding-top: 10px;
    height: 34%;
}

#showScoreTitle {
    font-size: 30px;
    font-weight: bold;
}

#showScore {
    font-size: 35px;
    font-weight: bolder;
}

#replayBtn {
    text-align: center;
    background-color: #5555ff;
    font-size: 60px;
    width: 12%;
    border-radius: 100%;
    margin-left: 44%;
    cursor: pointer;
    margin-bottom: 10%;
    transition: 100ms ease-in-out;
}

#gameLogo {
    width: 100%;
}

#gameLogoContainer {
    margin-bottom: 5%;
    background-color: #5555ff;
    width: 20%;
    border-radius: 90%;
    margin-left: 40%;
}

#startBtn {
    text-align: center;
    background-color: #5555ff;
    font-size: 60px;
    width: 12%;
    border-radius: 100%;
    margin-left: 44%;
    cursor: pointer;
    margin-bottom: 10%;
    transition: 100ms ease-in-out;
}

#startBtn:hover {
    background-color: #5c5cff;
}

.btns {
    text-align: center;
    background-color: #5555ff;
    font-size: 40px;
    width: 6%;
    border-radius: 100%;
    cursor: pointer;
    transition: 100ms ease-in-out;
}

.btns:hover,
#pauseBtn:hover {
    background-color: #5c5cff;
}

#pauseBtn {
    position: absolute;
    right: 3%;
    top: 5%;
    text-align: center;
    background-color: #5555ff;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    transition: 100ms ease-in-out;
}

#BtnContainer {
    display: flex;
    justify-content: space-around;
}

#popupInfo {
    position: absolute;
    display: none;
    background-color: rgb(210, 210, 255);
    border: black solid 1px;
    width: 40%;
    top: 45%;
    bottom: 10%;
    left: 1%;
}

#popupInfoTitle {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    border-bottom: solid 1px black;
}

#popupInfoCloseBtn {
    position: absolute;
    top: -4%;
    bottom: 1%;
    left: 1%;
    font-size: 40px;
    cursor: pointer;
}

.accounts {
    font-size: larger;
    font-weight: 900;
    margin-top: 4%;
    margin-bottom: 5%;
}

#twitterAccount a,
#LinkedinAccount a,
#emailAddress a,
#website a {
    text-decoration: none;
    color: black;
}

#popupSettings {
    position: absolute;
    display: none;
    background-color: rgb(210, 210, 255);
    border: black solid 1px;
    width: 40%;
    top: 45%;
    bottom: 10%;
    left: 30%;
}

#popupSettingsTitle {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    border-bottom: solid 1px black;
}

#popupSettingsCloseBtn {
    position: absolute;
    top: -4%;
    bottom: 1%;
    left: 1%;
    font-size: 40px;
    cursor: pointer;
}

#langBoxContainer {
    display: flex;
    justify-content: space-evenly;
}

#langBox {
    width: 30%;
    font-size: 35px;
    border: 1px black solid;
    border-radius: 30px;
    color: white;
    background-color: #5555ff;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#langBoxBefore {
    margin-top: 3px;
    font-size: 25px;
    cursor: default;
    display: inline-block;
    color: rgb(0, 0, 0);
}

.options {
    margin-top: 3px;
    font-size: 25px;
}

#en {
    font-size: 29px;
    border: 1px black solid;
    border-radius: 16%;
    color: rgb(0, 0, 0);
    background-color: #7373fd;
    text-align: center;
    cursor: pointer;
    width: 34%;
    height: 81%;
    margin-top: 2%;
    line-height: 142%;
    font-family: 'Merriweather';
    transition: 100ms ease-in-out;
}

#ar {
    line-height: 120%;
    font-size: 29px;
    border: 1px black solid;
    border-radius: 16%;
    color: rgb(0, 0, 0);
    background-color: #7373fd;
    text-align: center;
    cursor: pointer;
    width: 34%;
    height: 81%;
    margin-top: 2%;
    font-family: 'Merriweather';
    transition: 100ms ease-in-out;
}

#en:hover {
    background-color: #6b6bff;
}

#ar:hover {
    background-color: #6b6bff;
}

#themeBox {
    width: 60%;
    font-size: 13px;
    border: 1px black solid;
    border-radius: 30px;
    color: black;
    background-color: #5555ff;
    text-align: center;
    display: inline-block;
}

.themeMode {
    font-size: 11px;
    font-weight: bold;
}

#setBtn {
    display: inline-block;
    background-color: #5555ff;
    cursor: pointer;
    border: black 1px solid;
    font-size: small;
    border-radius: 5px;
    width: 7%;
    color: black;
    transition: 100ms ease-in-out;
}

#setBtn:hover {
    background-color: #5c5cff;
}

#popupExplain {
    position: absolute;
    display: none;
    background-color: rgb(210, 210, 255);
    border: black solid 1px;
    width: 40%;
    top: 45%;
    bottom: 10%;
    left: 59%;
}

#popupExplainTitle {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    border-bottom: solid 1px black;
}

#popupExplainCloseBtn {
    position: absolute;
    top: -4%;
    bottom: 1%;
    left: 1%;
    font-size: 40px;
    cursor: pointer;
}

#popupExplainPara {
    margin-top: 5%;
    font-size: 25px;
}

.popupTitle {
    font-size: xx-large;
}

#bodyArea {
    margin-top: 0.5%;
    height: 50%;
    width: 90%;
    background-color: #8989cf;
    font-size: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding: 0.5%;
    cursor: default;
}

.borders {
    width: 5%;
}

.places {
    border-top: black solid 0.1px;
    width: 33%;
    height: 33%;
    color: #8989cf;
}

#place7,
#place8,
#place9 {
    border-bottom: black solid 0.1px;
}

#place2,
#place5,
#place8 {
    border-right: black solid 0.1px;
    border-left: black solid 0.1px;
}

#place1,
#place4,
#place7 {
    border-left: black solid 0.1px;
}

#place3,
#place6,
#place9 {
    border-right: black solid 0.1px;
}

.things {
    height: 20%;
    width: 10%;
    background-color: brown;
    font-size: 90px;
    color: rgb(255, 255, 255);
    border-radius: 30%;
    position: absolute;
    transition: 100ms ease-in-out;
    cursor: pointer;
    display: none;
}

#thing1 {
    left: 15%;
    top: 18%;
}

#thing2 {
    left: 45%;
    top: 18%;
}

#thing3 {
    left: 75%;
    top: 18%;
}

#thing4 {
    left: 15%;
    top: 46%;
}

#thing5 {
    left: 45%;
    top: 46%;
}

#thing6 {
    left: 75%;
    top: 46%;
}

#thing7 {
    left: 15%;
    top: 73%;
}

#thing8 {
    left: 45%;
    top: 73%;
}

#thing9 {
    left: 75%;
    top: 73%;
}