<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تم الشراء</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <link href="../../static/dawrati/style_thanks.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    <script src="../../static/dawrati/main_thanks.js"></script>


</head>

<body>
    <div id="body">
        <!--header-->
        <header>
            <!--nav -->
            <nav id="navbar">
                <div id="logo">
                    <a style="font-family: 'Tajawal', sans-serif;" id="logoo" href="main.html">دوراتــــــي<br>dawrati</a>
                </div>

                <div class="menu-bar">
                    <ul>
                        <li id="li1"><a id="li12" href="main.html">الرئيسية</a></li>
                    </ul>




                </div>



            </nav>


            <h1 style="font-family: 'Changa', sans-serif;">!شكرا لشرائك</h1>
            <p>!نتوق لرؤتيك هناك</p>
            <a class="header-button" href="home.html">صفحة الدورات</a>
        </header>


        <footer id="footer">
            <div class="about-trainer">
                <h4>عن</h4>
                <h4 style="font-family: 'Tajawal', sans-serif;">©دوراتــــــي</h4>
                <p>دوراتي هو موقع لتقديم الدورات الخاصة في تطوير الذات (كل المواضيع قريبًا) حيث يتم تقديمها حضوريا في مراكزنا المتواجدة في كل مكان أو عن بعد من خلال موقعنا.</p>
            </div>
            <div class="footer-social">
                <h4>منصاتنا الإجتماعية</h4>
                <ul>
                    <li><a href="http://Snapchat.com">Snapchat</a></li>
                    <li><a href="http://Twitter.com">Twitter</a></li>
                    <li><a href="http://Github.com">Github</a></li>
                    <li><a href="http://Instagram.com">Instagram</a></li>
            </div>
            <div class="footer-contact">
                <h4>تواصل معنا</h4>
                <p>إن كان لديك أي استفسار إضافي فلا تتردد في التواصل معنا</p>
                <a href="mailto:381120606@qu.edu.sa">بريدنا الإلكتروني</a>
            </div>
        </footer>

    </div>





    </script>
</body>

</html>