@media (prefers-color-scheme: light) {
    #dl{
      border-top: 2px solid black;
        display: block;
        padding-top: 3px;
    }
    #dd{
      border-top: 0px solid black;
        display: none;
        
    }
}
@media (prefers-color-scheme: dark) {


        #dl{
          border-top: 0px solid black;
            display: none;
        }
        #dd{
          border-top: 2px solid black;
            display: block;
            padding-top: 3px;
        }




        body{
            color: white;
            background: linear-gradient(to left,#000102,#001620);

        }
        
  
        .buttom{
          background: linear-gradient(to right,#000102,#001620);
        }
  
        .gameLogo{
        background-color: rgba(0, 24, 70, 0.692);

        }

      
        
        .infoPopupBtn,.infoSetBtn{
            background: linear-gradient(to right,#00273a,#004669);
  
        }

    
        
        
 
  
        #yourmoneyBox,.winLimitContainer{
            font-style: normal;
            text-decoration: none;
            border: black 1px solid;
            background: linear-gradient(to right,#000102,#001620);
        }

      
        

        
   
        
        .loseBtn,.winBtn{
      
            background-color: cornsilk;
            border: rgb(0, 0, 0) solid 1px;
       
        }
        
        .loseBtn{
            background: linear-gradient(to right,#0e0000,#240000);
            color: #9e0000;
        }
        
        .winBtn{
            background: linear-gradient(to right,#000e00,#001d00);
            color: #009e00;
        }

        .withdBtn{
         
            background: linear-gradient(to right,#00000e,#2b2300);
            color:#997500 ;
 
          }
        
        
        /*88888888888888888888888888888888888*/

        
          .popupInfoContainer {
            

            background: linear-gradient(to right,#051635f6,#0f192ef6);  

            border: 2px solid #000000;
            box-shadow: 0 0 40px rgba(0, 0, 0, .7);
          }
          
          .popupInfoTitle{

              border-top: 1px solid #000000 ;
            
          }
          
          .popupInfoCloseBtn {
 
            color:#ffffff98;

          }
        
          .popupInfoCloseBtn:hover{
            color: #0091da;
          }
          


          
          .popupInfoContainer .popupInfoTitle {
            color: #ffffff;
         
        
          }
          .popupInfoContainer {
              color: #ffffff;
       
          }
          #twitterAccount,#instagramAccount,#emailAddress,#ver{
            color: #ffffff;
     
          
        
        }
          #twitterAccount a,#instagramAccount a,#emailAddress a,#ver{
            color: #ffffff;

        
        }
     
        
     /*  */


  
      .popupSetContainer {
        

        background: linear-gradient(to right,#051635f6,#0f192ef6);  

            border: 2px solid #000000;
            box-shadow: 0 0 40px rgba(0, 0, 0, .7);
      }
      
      
      
      .popupSetCloseBtn {

        color:#ffffff98;
 
      }
      
      .popupSetCloseBtn:hover{
        color: #0091da;
      }
      
   
      
      .popupSetContainer {
          color: #ffffff;
    
      }
      
      
  
      
      .done {
     
        background: linear-gradient(to left,#0b327cea,#203761ea);
    
      }
      
      .done2 {
     
        background: linear-gradient(to left,#0b327cea,#203761ea);
    
      }

     

      
      
      


     /*  */
        /*88888888888888888888888888888888888*/
        
        
        #gameover{
      
            background: linear-gradient(to right,#051635f6,#0f192ef6);  
            border: 2px solid black;
     
           
        
        }

        #gamewin{
          background: linear-gradient(to right,#051635f6,#0f192ef6);  
          border: 2px solid black;
        }
        
        #tryover{
          background: linear-gradient(to right,#051635f6,#0f192ef6);  
          border: 2px solid black;
        }
        
        .cont {
     
          background: linear-gradient(to left,#0b327cea,#203761ea);
      
        }
    
}