* {
    font-family: 'Tajawal', sans-serif;
}

 :root {
    touch-action: pan-x pan-y;
    height: 100%
}

body {
    color: white;
    background: linear-gradient(to right, #005079, #00aaff);
    overflow-y: hidden;
    /* Hide vertical scrollbar */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

.bodyy {
    margin-top: 10px;
    text-align: center;
}

.logoImg {
    max-width: 50%;
}

.gameLogo {}

.aboveM {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#undoBtn {
    left: 8px;
    position: absolute;
    color: #ffffff5e;
}

#redoBtn {
    right: 8px;
    position: absolute;
    color: #ffffff5e;
}

.popups {
    display: flex;
    justify-content: space-between;
}

.infoPopupBtn {
    background: linear-gradient(to left, #004568, #0076b1);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.i {
    font-size: 35px;
    line-height: 65px;
}

.infoPopupBtn i {
    line-height: 55px;
    font-size: 25px;
}

.replyBtn {
    background: linear-gradient(to left, #004568, #0076b1);
    border-radius: 100%;
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    margin-top: 20px;
    font-size: 55px;
    line-height: 100px;
}

.yourmoneyContainer {
    text-align: center;
}

.yourmoneyTitle {
    margin-top: 0px;
    font-size: 50px;
}

.pastBox {
    font-size: 40px;
}

.pastLimit {
    font-size: 23px;
}

#yourmoneyBox {
    width: 100%;
    height: 150px;
    line-height: 220%;
    margin-bottom: 4px;
    font-size: 75px;
    border: black 1px solid;
    background: linear-gradient(to left, #005079, #00aaff);
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
}

.winLimitContainer {
    display: inline-flex;
    background: linear-gradient(to left, #005079, #00aaff);
    border: 1px solid black;
    justify-content: center;
    width: 83%;
    font-size: 25px;
    margin-bottom: 4px;
    max-width: 100%;
}

#winLimit {
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    width: 55%;
}

.popupSetTitle2 {
    border-top: 2px solid black;
}

.popupSetTitle3 {
    border-top: 2px solid black;
}

.inputContainer {
    display: inline-flex;
}

#sumG {
    margin-right: 2px;
}

#yourB {
    margin-left: 2px;
}

#sumG,
#yourB {
    font-size: 30px;
    text-align: center;
    width: 145px;
    height: 55px;
}

#yourB::placeholder {
    font-size: 29px;
}

#sumG::placeholder {
    font-size: 29px;
}

.loseBtn,
.winBtn {
    margin-top: 4px;
    display: inline-block;
    width: 175px;
    height: 65px;
    background-color: cornsilk;
    border: black solid 1px;
    font-size: 45px;
}

.withdBtn {
    margin-top: 4px;
    display: inline-block;
    width: 175px;
    height: 65px;
    background: linear-gradient(to left, #685000, #b19100);
    border: black solid 1px;
    font-size: 45px;
}

.loseBtn {
    background: linear-gradient(to left, #680000, #b10000);
}

.winBtn {
    background: linear-gradient(to left, #00681f, #00b14a);
}


/*88888888888888888888888888888888888*/

.popupInfo .overlayI {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
}

.popupInfoContainer {
    margin-top: 0px;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: linear-gradient(to left, #1562f1ea, #4c84eeea);
    width: 350px;
    height: 270px;
    z-index: 10;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    transition: all 100ms ease-in-out;
    border: 2px solid #000000;
    box-shadow: 0 0 40px rgba(0, 0, 0, .7);
}

.popupInfoTitle {
    font-size: 23px;
    margin: 0px;
    margin-top: 2px;
    border-top: 2px solid #000000;
}

.popupInfoCloseBtn {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 30px;
    height: 30px;
    color: #ffffff98;
    font-size: 40px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    transition: all 100ms ease-in-out;
}

.popupInfoCloseBtn:hover {
    color: #0091da;
}

.popupInfo.activeI .overlayI {
    display: block;
}

.popupInfo.activeI .popupInfoContainer {
    transform: translate(-50%, -50%) scale(1);
}

.popupInfoContainer .popupInfoTitle {
    color: #ffffff;
    text-transform: uppercase;
    margin: 0px;
    font-weight: bold;
}

.popupInfoContainer {
    color: #ffffff;
    font-weight: bold;
    font-size: 12.5px;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-items: center;
}

#twitterAccount,
#instagramAccount,
#emailAddress,
#ver {
    color: #ffffff;
    font-weight: bold;
    font-size: 10.5px;
    margin: 1px;
}

#twitterAccount a,
#instagramAccount a,
#emailAddress a,
#ver {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

#ver {
    font-size: 10px;
    text-align: center;
}

#at {
    display: inline;
    font-weight: bold;
    font-size: x-large;
}

.explainTitle {
    margin-bottom: 0px;
    font-size: 22px;
}

b {
    font-weight: bolder;
    font-size: 23px;
}

.explainPara {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 11px;
}


/* pppppppppppppp

/* hhhhhhhhhhhhhhhh */

.popupSet .overlayS {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
}

.popupSetContainer {
    margin-top: 0px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: linear-gradient(to left, #1562f1ea, #4c84eeea);
    width: 350px;
    height: 495px;
    z-index: 10;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    transition: all 100ms ease-in-out;
    border: 2px solid #000000;
    box-shadow: 0 0 40px rgba(0, 0, 0, .7);
}

.popupSetCloseBtn {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 30px;
    height: 30px;
    color: #ffffff98;
    font-size: 40px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    transition: all 100ms ease-in-out;
}

.popupSetCloseBtn:hover {
    color: #0091da;
}

.popupSet.activeS .overlayS {
    display: block;
}

.popupSet.activeS .popupSetContainer {
    transform: translate(-50%, -50%) scale(1);
}

.popupSetContainer {
    color: #ffffff;
    font-weight: bold;
    font-size: 12.5px;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.popupSetTitle {
    font-size: 25px;
    margin-top: 3px;
    margin-bottom: 10px;
}

#changeYourM {
    font-size: 25px;
    text-align: center;
    width: 155px;
    height: 40px;
}

.done {
    display: inline-block;
    margin-top: 10px;
    background: linear-gradient(to right, #1047afea, #2e4e8bea);
    font-size: 18px;
    border-radius: 100px;
    width: 89px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 15px;
}

h5 {
    margin-top: 0px;
}

.popupSetTitle2 {
    font-size: 25px;
    margin-top: 2px;
    margin-bottom: 10px;
}

#changeYourL {
    font-size: 25px;
    text-align: center;
    width: 155px;
    height: 40px;
}

.done2 {
    display: inline-block;
    margin-top: 10px;
    background: linear-gradient(to right, #1047afea, #2e4e8bea);
    font-size: 18px;
    border-radius: 100px;
    width: 89px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 15px;
}

.popupSetTitle3 {
    font-size: 25px;
    margin-top: 2px;
    margin-bottom: 10px;
}

#done3 {
    display: inline-block;
    margin-top: 0px;
    background: linear-gradient(to right, #1254cf3f, #10419cea);
    font-size: 23px;
    border-radius: 10px;
    width: 160px;
    height: 50px;
    line-height: 200%;
    margin-bottom: 5px;
}

.done3info {
    margin: 0;
    margin-bottom: 5px;
}


/* hhhhhhhhhhhhhhhhhh */


/*ppppppppppppppp */


/*88888888888888888888888888888888888*/

#gameover,
#tryover {
    display: none;
    background: linear-gradient(to left, #1562f1ea, #4c84eeea);
    border: 2px solid black;
    top: 24%;
    left: 2%;
    width: 96%;
    height: 61%;
    box-shadow: 0 0 40px rgba(0, 0, 0, .7);
}

#gamewin {
    display: none;
    background: linear-gradient(to left, #1562f1ea, #4c84eeea);
    border: 2px solid black;
    top: 24%;
    left: 2%;
    width: 96%;
    height: 57%;
    box-shadow: 0 0 40px rgba(0, 0, 0, .7);
}

#gameover h4,
#tryover h4 {
    margin-bottom: 0px;
}

.replyBtn {
    margin-top: 5px;
}

#gameover h1,
#tryover h1 {
    margin-top: 60px;
}

#gameover>h3,
#tryover h3 {
    margin-bottom: 0px;
}

.hunBank {
    margin-top: 0px;
}

.congra,
.beCareful {
    font-size: 30px;
    margin-top: 0px;
}

.t {
    margin-bottom: 0px;
    font-size: 17px;
}

#ym {
    font-size: 30px;
    font-weight: bold;
}

#gameover>h4 {
    margin-bottom: 5px;
}

#gamewin>h4 {
    margin-bottom: 5px;
}

.cont {
    display: inline-block;
    margin-top: 10px;
    background: linear-gradient(to right, #1047afea, #2e4e8bea);
    font-size: 30px;
    border-radius: 100px;
    width: 140px;
    height: 50px;
    line-height: 44px;
    margin-bottom: 15px;
}

.buttom {
    color: rgba(255, 235, 205, 0);
    padding-top: 7px;
    margin-top: 4px;
    background: linear-gradient(to left, #005079, #00aaff);
}

@media (prefers-color-scheme: light) {
    #dl {
        border-top: 2px solid black;
        display: block;
        padding-top: 3px;
    }
    #dd {
        border-top: 0px solid black;
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    #dl {
        border-top: 0px solid black;
        display: none;
    }
    #dd {
        border-top: 2px solid black;
        display: block;
        padding-top: 3px;
    }
    body {
        color: white;
        background: linear-gradient(to left, #000102, #001620);
    }
    .buttom {
        background: linear-gradient(to right, #000102, #001620);
    }
    .gameLogo {
        background-color: rgba(0, 24, 70, 0.692);
    }
    .infoPopupBtn,
    .infoSetBtn {
        background: linear-gradient(to right, #00273a, #004669);
    }
    #yourmoneyBox,
    .winLimitContainer {
        font-style: normal;
        text-decoration: none;
        border: black 1px solid;
        background: linear-gradient(to right, #000102, #001620);
    }
    .loseBtn,
    .winBtn {
        background-color: cornsilk;
        border: rgb(0, 0, 0) solid 1px;
    }
    .loseBtn {
        background: linear-gradient(to right, #0e0000, #240000);
        color: #9e0000;
    }
    .winBtn {
        background: linear-gradient(to right, #000e00, #001d00);
        color: #009e00;
    }
    .withdBtn {
        background: linear-gradient(to right, #00000e, #2b2300);
        color: #997500;
    }
    /*88888888888888888888888888888888888*/
    .popupInfoContainer {
        background: linear-gradient(to right, #051635f6, #0f192ef6);
        border: 2px solid #000000;
        box-shadow: 0 0 40px rgba(0, 0, 0, .7);
    }
    .popupInfoTitle {
        border-top: 1px solid #000000;
    }
    .popupInfoCloseBtn {
        color: #ffffff98;
    }
    .popupInfoCloseBtn:hover {
        color: #0091da;
    }
    .popupInfoContainer .popupInfoTitle {
        color: #ffffff;
    }
    .popupInfoContainer {
        color: #ffffff;
    }
    #twitterAccount,
    #instagramAccount,
    #emailAddress,
    #ver {
        color: #ffffff;
    }
    #twitterAccount a,
    #instagramAccount a,
    #emailAddress a,
    #ver {
        color: #ffffff;
    }
    /*  */
    .popupSetContainer {
        background: linear-gradient(to right, #051635f6, #0f192ef6);
        border: 2px solid #000000;
        box-shadow: 0 0 40px rgba(0, 0, 0, .7);
    }
    .popupSetCloseBtn {
        color: #ffffff98;
    }
    .popupSetCloseBtn:hover {
        color: #0091da;
    }
    .popupSetContainer {
        color: #ffffff;
    }
    .done {
        background: linear-gradient(to left, #0b327cea, #203761ea);
    }
    .done2 {
        background: linear-gradient(to left, #0b327cea, #203761ea);
    }
    /*  */
    /*88888888888888888888888888888888888*/
    #gameover {
        background: linear-gradient(to right, #051635f6, #0f192ef6);
        border: 2px solid black;
    }
    #gamewin {
        background: linear-gradient(to right, #051635f6, #0f192ef6);
        border: 2px solid black;
    }
    #tryover {
        background: linear-gradient(to right, #051635f6, #0f192ef6);
        border: 2px solid black;
    }
    .cont {
        background: linear-gradient(to left, #0b327cea, #203761ea);
    }
}