<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7882c25953.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="../../static/DemonsKiller/style.css">
    <link rel="stylesheet" href="../../static/DemonsKiller/mstyle.css">
    <script src="../../static/DemonsKiller/script.js" defer></script>
    <title>Demons Killer</title>
</head>

<body scrolling="no">


    <div id="readyMsg">READY</div>
    <div id="goMsg">GO!</div>

    <div id="startPopup">

        <div id="gameLogoContainer">
            <img id="gameLogo" src="../../static/DemonsKiller/img.png" alt="">
        </div>
        <div id="startBtn"><i class="fas fa-play"></i></div>

        <div id="BtnContainer">
            <div class="btns" id="infoBtn">i</div>
            <div class="btns" id="settingsBtn"><i class="fas fa-cog"></i></div>
            <div class="btns" id="expainBtn">?</div>
        </div>

        <div id="popupInfo">
            <div id="popupInfoContainer">
                <div id="popupInfoCloseBtn">&times;</div>
                <h2 id="popupInfoTitle" class="popupTitle">Contact Developer</h2>
                <p id="popupInfoPara">
                    <h5 class="accounts" id="twitterAccount"><a>Ibrahim Alkhowaiter</a></h5>
                    <h5 class="accounts" id="LinkedinAccount"><a href="https://www.linkedin.com/in/ibrahim-alkhowaiter-430b24203/"><i class="fab fa-linkedin-in"></i>: Ibrahim Alkhowaiter</a></h5>
                    <h5 class="accounts" id="emailAddress"><a href="mailto: ibrahim-abdalaziz@hotmail.com">@: ibrahim-abdalaziz@hotmail.com</a></h5>
                    <h5 class="accounts" id="website"><a href="http://www.br19.me"><i class="fas fa-globe"></i>: BR19.me</a></h5>
                    <h5 id="ver">Version 2.5.0</h5>
                </p>
            </div>
        </div>

        <div id="popupSettings">
            <div id="popupSettingsContainer">
                <div id="popupSettingsCloseBtn">&times;</div>
                <h2 id="popupSettingsTitle" class="popupTitle">Settings</h2>
                <div id="settingsOptionsContainer">
                    <div id="changeLanguage">
                        <div class="options" id="langBoxBefore">Change Language</div>
                        <div class="langBoxContainer" id="langBoxContainer">
                            <div id="langBox">
                                <div class="langs" id="en">E</div>
                                <div class="langs" id="ar">ع</div>
                            </div>
                        </div>
                    </div>
                    <div class="options">♥'s Number</div>
                    <input id="triesInput" onfocus="this.value=''" type="tel" placeholder="Type number" style="text-align: center;">
                    <div id="setBtn">✔</div>
                    <div class="options">Theme Mode</div>
                    <div class="langBoxContainer">
                        <div id="themeBox">
                            <div class="themeMode" id="lightMode">Light Mode Enabled <i class="fas fa-sun"></i></div>
                            <div class="themeMode" id="darktMod">Dark Mode Enabled <i class="fas fa-moon"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="popupExplain">
            <div id="popupExplainContainer">
                <div id="popupExplainCloseBtn">&times;</div>
                <h2 id="popupExplainTitle" class="popupTitle">How To Play</h2>
                <p id="popupExplainPara">

                    Kill 👹 to gain ◼
                    <br>
                    <br>Don't kill 🧑 to save ♥
                    <br>
                    <br>Collect ♥ to play longer


                </p>
            </div>
        </div>

    </div>

    <div id="topArea">
        <div id="yourScore">
            <div id="yourScoreTitle">◼</div>

            <div id="score">0</div>
        </div>
        <div id="yourTries">
            <div id="yourTriesTitle">♥</div>

            <div id="tries">3</div>
        </div>

        <div onclick="pausePressing()" id="pauseBtn"><i class="fas fa-pause"></i></div>
    </div>



    <div id="bordersContainer">
        <div class="borders"></div>

        <div id="bodyArea">

            <div class="places" id="place1">1
                <div class="things" id="thing1">👹</div>
            </div>
            <div class="places" id="place2">2
                <div class="things" id="thing2">👹</div>
            </div>
            <div class="places" id="place3">3
                <div class="things" id="thing3">👹</div>
            </div>
            <div class="places" id="place4">4
                <div class="things" id="thing4">👹</div>
            </div>
            <div class="places" id="place5">5
                <div class="things" id="thing5">👹</div>
            </div>
            <div class="places" id="place6">6
                <div class="things" id="thing6">👹</div>
            </div>
            <div class="places" id="place7">7
                <div class="things" id="thing7">👹</div>
            </div>
            <div class="places" id="place8">8
                <div class="things" id="thing8">👹</div>
            </div>
            <div class="places" id="place9">9
                <div class="things" id="thing9">👹</div>
            </div>

        </div>


        <div id="losingPopup"><b style="font-size: 55px;">Game Over</b><br>But you can always start again by pressing the button below!
            <div id="showScoreTitle">your ◼ is</div>
            <div id="showScore">0</div>
            <div id="replayBtn" onclick="location.reload()"><i class="fas fa-redo-alt"></i></div>
        </div>
        <div id="pausePopup"><b style="font-size: 50px;">PAUSE</b><br>Press below button to continue!
            <div id="replayBtn" onclick="continuePressing()"><i class="fas fa-play"></i></i>
            </div>
        </div>

        <div class="borders"></div>
    </div>

    <!-- Hitsteps TRACKING CODE - Manual 2021-03-18 - DO NOT CHANGE -->
    <script type="text/javascript">
        (function() {
            var hstc = document.createElement('script');
            hstc.src = 'https://log.hitsteps.net/track.php?code=e97a2c18169dad9896a6457e04f56658';
            hstc.async = true;
            var htssc = document.getElementsByTagName('script')[0];
            htssc.parentNode.insertBefore(hstc, htssc);
        })();
    </script><noscript><a href="http://www.hitsteps.com/"><img src="//log.hitsteps.net/track.php?mode=img&amp;code=e97a2c18169dad9896a6457e04f56658" alt="web statistics" width="1" height="1" />Realtime website tracking</a></noscript>
    <!-- Hitsteps TRACKING CODE - DO NOT CHANGE -->

</body>