@media(max-width: 1024px){



header{
    
    margin-bottom: 40px;
}

header h1, header .header-buttom, header p{
  
  

}
.header h1{
    padding-top: 100px;
}

.trainer .img11{
    width: 0;
}


#features {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 20px;
}

#features .feature-imge, .feature-copy{
    width: 100%;
}

.feature-imge{
    padding-left: 100px;
}

}

@media(max-width: 450px){

    header h1, header .header-buttom, header p{
  
        padding-top: 0px ;
        padding-right: 5px;
        padding-left: 5px ;
        margin-bottom: 10px;
    
    }

    header h1{
        padding-top: 200px;
        margin-top: 0px ;
    }

    #navbar {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 25px 10px;
        margin-bottom: 70px;
    }
    
    #navbar .logo{
        margin-bottom: 25px;
        font-size: 25px;
    }
    #navbar .menu-bar {
        width: 100%;
       
    }
  
    #navbar .menu-bar ul li{
        margin-bottom: 5px;
       
    }
    #navbar .menu-bar ul li a{
        padding: 5px;
    }

    #li1:hover {
      
    }
    #li2:hover {
  
    }
    #li3:hover {
   
    }
    #li4:hover {
       
    }
    #li5:hover {
       
    }
    .menu-bar ul li {
        color: #9950ac;
        background-color: #850b74ab;
        border: #850b74ab; 
    }





.iconContainer{
    width: 80%;
}



.promiseBox{
    display: flex;
    flex-wrap: wrap;
}

#promise > h1{
font-size: 30px;
}

#promise > p{
max-width: 330px;
}

.promiseLeft, .promiseRight{
width: 70%;
}


#img22{
    width: 100%;
    max-width: 100%;
    justify-items: left;
}

.feature-imge{
    padding-left: 10px;
    
}

#features{
    padding: 20px 30px;
}


.about-tainer, .footer-social, .footer-contact{
    width: 100%;
}


.about-trainer{
    width: 100%;
    margin-bottom: 10px;
   
}

.about-trainer, .footer-social, .footer-contact {
    text-align: left;
}
}



@media(max-width: 320px){
    header {
        margin-bottom: 150px;
    }
}