* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

#body {
    background-size: contain;
    background-image: url('../../static/dawrati/img_main/background.JPG');
}


/********  N A V  ************/

#navbar {
    background-color: rgba(46, 46, 46, 0.801);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-weight: bold;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

#logo,
.menu-bar {
    display: inline-block;
}

#logo a {
    font-size: 25px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#logoo.activel {
    color: rgba(255, 255, 255, 0.208);
}


/*.menu-bar ul {
    list-style: none;
}*/

.menu-bar ul li {
    border-radius: 50px;
    padding: 10px;
    display: inline-block;
    font-size: 13px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px;
}

#navbar:hover {
    background-color: hsla(0, 0%, 0%, 0.849);
    padding-bottom: 15px;
}

#li1:hover {
    color: #ffffff;
    background-color: #725d00;
}

#li12 {
    transition: all 0.3s ease-in-out;
}

#li12:hover {
    color: #ffffff;
}

#logoo {
    transition: all 0.3s ease-in-out;
    color: white;
}

#logoo:hover {
    color: white;
}

#li1 {
    transition: all 0.3s ease-in-out;
    background-color: #3b3b3bab;
    color: rgb(255, 255, 255);
}


/********  H E A D E R  ************/

header {
    text-align: center;
    background-color: transparent;
    padding-bottom: 100px;
    height: 80vh;
}

header h1 {
    font-size: 54px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
    color: rgb(207, 159, 0);
    padding-top: 75px;
    font-weight: bolder;
}

header .header-button {
    display: inline-block;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.781);
    text-decoration: none;
    color: rgba(255, 255, 255, 0.781);
    font-size: 15px;
    font-weight: 700;
    padding: 20px 42px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

header p {
    font-size: 16px;
    color: rgb(20, 16, 0);
    margin-bottom: 25px;
    font-weight: bolder;
}

header .header-button:hover {
    color: rgb(255, 255, 255);
    background-color: #caa500;
}


/********  T  S E C T I O N  ************/


/********  Fo  S E C T I O N  ************/

footer {
    background-color: rgba(19, 18, 18, 0.849);
    padding: 9px 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer h4 {
    color: #ffffff;
    font-size: 19px;
    margin-bottom: 10px;
}

.about-trainer,
.footer-social,
.footer-contact {
    text-align: center;
    width: 28%;
}

.about-trainer p {
    color: darkgray;
    font-size: 13px;
}

.footer-social {
    margin-bottom: 0px;
}

.footer-social ul {
    list-style: none;
}

.footer-social ul li a {
    text-decoration: none;
    color: darkgray;
}

.footer-social ul li {
    margin-bottom: 2px;
}

.footer-contact p {
    color: darkgray;
    font-size: 13px;
    margin-bottom: 15px;
}

.footer-contact a {
    text-decoration: none;
    color: darkgray;
}