
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    background-image: url('img/programming_team3.jpg');
    background-size: contain;
    background-repeat: round;
    background-attachment: fixed;
    cursor: default;
}



#container { 
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 8px black solid;
    position: absolute;
    background-color: #f7f7f7c0;
    width: 95%;
    transition: all 100ms ease-in-out;
    animation: showNice 1s;
    margin-top: 10px;

}


@keyframes showNice {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#container:hover { 
    background-color: #f7f7f7da;
    
}

img{
    width: 100px;
    height: 100px;
}

i{
    transition: all 200ms ease-in-out;
}
i:hover{
    color: #111111da;
}

h1{
    font-size: 50px;
    margin-top: -30px;
    margin-bottom: 0px;
    font-weight: bold;
}

#form{
    width: 100%;
    display: inline-block;
}
.label{
    margin-top: 10px;
    font-size: 25px;

}
input{
    border: 0.1px black solid;
    text-align: center;
    width: 250px;
    height: 40px;
    transition: all 100ms ease-in-out;
    font-size: 20px;
}

textarea{
    font-family: 'Montserrat', sans-serif;
    resize: none;
    text-align: center;
    transition: all 100ms ease-in-out;
    font-size: 17px;
    width: 500px;
    height: 300px;
}

@media (max-width: 600px){
    textarea{
        width: 300px;
        height: 300px;
    }
}

input::placeholder,textarea::placeholder{
    font-size: 17px;
}

input:hover,textarea:hover{
    background-color: #afafaf; 
}
input:focus,textarea:focus{
    background-color: #979696;  
}

::-webkit-input-placeholder,::-webkit-textarea-placeholder { 
    color: transparent;
    transition: all 100ms ease-in-out;

  }

  :hover::-webkit-input-placeholder,:hover::-webkit-textarea-placeholder { 
    color: #646464;
  }

  :focus::-webkit-input-placeholder,:focus::-webkit-textarea-placeholder { 
    color: #414141;
  }



#submitBtn{
    border: 0.1px black solid;   
    background-color: #ffffff57;
    transition: all 100ms ease-in-out;
    cursor: pointer; 
    margin: 10px;
   
}

#submitBtn:hover{
    border: 1px black solid;   
    background-color: #afafaf;

}

