

          @media (prefers-color-scheme: light) {
            body{
         
                        background-color: #4bb48d;
                  
            }
            
            
             
            
            
            #whole
            {
            
        
            
                background-color: #368366;
        
            }
            
            
            /* <!---------- startMenu -------------> */
            
            #game_menu
            {
        
                background-color: white;
                box-shadow: 0 0 20px rgba(0, 0, 0, .15);
           
            }
        
            
            .game_logo
            {
             
                background-color: #ff6d53;
        
                
            }
        
            
            #game_play
            {
        
                background-color: #4bb48d;
        
            }
            #game_play:hover{
                background-color: #439e7d;
            }
            
            
            #game_play i{
            
                color: #ff6d53;
            }
            
            /* pup up explain */
            
         
              
              .popupExplainContainer {
               
                background:rgb(255, 255, 255);
              
                border: 5px solid #4bb48d;
                box-shadow: 0 0 40px rgba(0, 0, 0, .7);
              }
              
         
              .popupExplainCloseBtn {
          
                color:#ff6d53c5;
             
              }
            
              .popupExplainCloseBtn:hover{
                color: #ff6d53;
              }
              
        
              
              .popupExplainBtn {
         
                color:#222;
        
                background:#fff;
        
                 background-color: #ff6b6b;
           
              }
            
              
            
              
        
           
              
              .popupInfoContainer {
              
                background:rgb(255, 255, 255);
        
                border: 5px solid #4bb48d;
        
              }
              
          
              
              .popupInfoCloseBtn {
         
                color:#ff6d53c5;
        
              }
            
              .popupInfoCloseBtn:hover{
                color: #ff6d53;
              }
              
        
              
        
              
              .popupInfoBtn {
        
                color:#222;
        
                background:#fff;
        
                 background-color: #ff6b6b;
        
              }
            
              .popupInfoBtn:hover{
                  background-color: #ff573a;
              }
            
            
              #dl{
        
                color: #ff411f;
                background-color: #ffffff00;
        
                
              }
            
        
            
          
            
              
              .popupExplainBtn:hover{
                background-color: #ff573a;
            }
            
              .popupExplainBtn i,.popupInfoBtn i{
                  color: #4bb48d;
              }
            
            
              .popupExplainContainer .popupExplainTitle {
                color: #ff593c;
        
              }
            
        
              .popupExplainContainer p{
                  color: #ff6247;
        
              }
            
              .popupInfoContainer .popupInfoTitle {
                color: #ff593c;
        
              }
              .popupInfoContainer {
                  color: #ff6247;
            
              }
              #twitterAccount,#instagramAccount,#emailAddress,#ver{
                color: #ff6247;
          
              
            
            }
              #twitterAccount a,#instagramAccount a,#emailAddress a,#ver{
                color: #fd3816;
        
            
              }
        
            
            #topBar{
        
              background-color: #ff6b51;
        
            }
            
            #topBar #yourScore{
        
              color: #224b3d;
            }
            
            #topBar #score{
        
              color: #224b3d;
            }
            
            #scoreContainer{
              margin: 0;
            }
            
            body{
              background-color: #4bb48d;
            }
            
            
            
            
            
            
            .container {
        
             background-color: #89bdaa;
         
            }
        
            #question-container{
              color: rgb(0, 0, 0);
        
            }
            
            .btn {
            
        
                
        
            }

            .restart-btn{
                border: 0px solid #000000;
                background-color: #ffffff;
                color: #000000;
            }
            
            .btn:hover {
              border-color: black;
            }
            
            .btn.correct {
              background-color: #4bb48d;
              color: black;
            }
            
            .btn.wrong {
              background-color: #ff6d53;
            }
         
            
        
            
            .finish{
        
            background-color: #6cbd9f;
        
            border: 1px solid rgba(95, 158, 160, 0);
            
            }
            
         
            
        
              #scoreB{
        
        
                background-color: #42be91;
        
                
        
              }
            
              .determineIQ{
        
                background-color: #5a9c84;
        
             
              }}
            
            
            /* pupups sqs */
            
            
            
            /* <!---------- endGamepaly -----------> */
          
        
        @media (prefers-color-scheme: dark) {
            #game_menu
        {
        
            background-color: #121212;
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
        
        }
        
        #body{
            background-color: #141f1a;
        }
        
        .game_logo
        {
        
            background-color: #743226;
        
            
        }
        
        #game_play
        {
        
            background-color: #245744;
        
        }
        #game_play:hover{
            background-color: #32755c;
        }
        
        
        #game_play i{
        
            color: #743226;
        }
        
        
        
          
          .popupExplainContainer {
            background:#121212;
            border: 5px solid #245744;
            box-shadow: 0 0 40px #ffffff69;
          }
          
        
          
          .popupExplainCloseBtn {
        
            color:#743226;
        
          }
        
          .popupExplainCloseBtn:hover{
            color: #994233;
          }
          
          
          .popupExplainBtn {
        
            color:#222;
        
            background:#fff;
        
             background-color: #743226;
        
          }
        
          
        
          
        
          /* pup up info */
        
        
          
          
          .popupInfoContainer {
        
            background:#121212;
           
            border: 5px solid #245744;
            box-shadow: 0 0 40px #ffffff69;
          }
          
        
          
          .popupInfoCloseBtn {
        
            color:#743226;
        
          }
        
          .popupInfoCloseBtn:hover{
            color: #994233;
          }
          
        
        
          
          .popupInfoBtn {
        
            color:#222;
        
            background:#fff;
             border-radius:50% ;
        
             background-color: #743226;
        
          }
        
          .popupInfoBtn:hover{
              background-color: #994233;
          }
        
        
          #dl{
            display: none;
          }
        
          #dd{
            display: inline-block;
            color: #ff573a;
            background-color: #121212;
            font-size: 9px;
            margin-top: 5px;
            font-family: 'Lalezar', cursive;
            
            
          }
        
          #dd h6{
            font-size: 9px;
            margin: 0px;
            padding: 0px 0px;
            font-family: 'Lalezar', cursive;
            
          }
          
        
        
          
          .popupExplainBtn:hover{
            background-color: #994233;
        }
        
          .popupExplainBtn i,.popupInfoBtn i{
              color: #245744;
          }
        
        
          .popupExplainContainer .popupExplainTitle {
            color: #ff593c;
        
          }
          .popupExplainContainer p{
              color: #ff6247;
        
          }
        
          .popupInfoContainer .popupInfoTitle {
            color: #ff593c;
        
        
          }
          .popupInfoContainer {
              color: #ff6247;
        
          }
          #twitterAccount,#instagramAccount,#emailAddress,#ver{
            color: #ff6247;
        
        
        }
          #twitterAccount a,#instagramAccount a,#emailAddress a,#ver{
            color: #ff6247;
        
        
        }
        
        
        
        
        #topBar{
        
            background-color: #743226;
        
          }
          
          #topBar #yourScore{
         
            color: #53b896;
          }
          
          #topBar #score{
           
            color: #53b896;
          }
          
          #scoreContainer{
            margin: 0;
          }
          
        
          
          
          
          
          
          
          .container {
        
           
        
           background-color: #202e28;
        
          }
          
        
          #question-container{
            color: rgb(255, 255, 255);
        
          }
          
          .btn,.restart-btn {
          
            border: 0px solid rgb(255, 255, 255);
            background-color: #121212;
            color: rgb(255, 255, 255);
         
          
          }
          
          .btn:hover {
            border-color: rgb(255, 255, 255);
          }
          
          .btn.correct {
            background-color: #245744;
            color: rgb(255, 255, 255);
          }
          
          .btn.wrong {
            background-color: #743226;
          }
          
        
        
          
          .finish{
        
          
            background-color: #3c6657;
          border: 1px solid rgba(95, 158, 160, 0);
          
          }
          
        
            #scoreB{
                background-color: #215c46;
              
        
              
        
            }
          
            .determineIQ{
                background-color: #335548;
             
        
           
            }
        
        
         
        
        
        
        }




@media(max-width: 320px){/*iphone 5/se*/



    .container {
        top: 57%;
        height: 82%;
        width: 71%;
        border-radius: 50px 50px 0px 0;

    }

    #question-container {
        font-size: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .btn {
 
        padding: 21px 9px;
        font-size: 23px;
      
    }
    .determineIQ {
        font-size: 19px;}

#finishTitle {
    font-size: 24px;
    height: 0%;}


    #scoreB {
        font-size: 18px;
        font-weight: bold;
        height: 0%;
        margin: 12px}
    
        #finishPara {
            font-size: 14px;
            height: 1%;
            margin-bottom: 5px;
           
        }

    body{
    
            overflow-y: hidden; /* Hide vertical scrollbar */
            overflow-x: hidden; /* Hide horizontal scrollbar */

          
    }

    #topBar #yourScore {
        width: 10%;
        padding-right: 74px;


}
#topBar #score{
    width: 6%;
}

#game_menu {
    width: 94%;

    margin-left: 11px;

}


.popupInfoBtn {
    margin-left: 100px;}



.popupExplainBtn {
    margin-right: 100px;}



    .popupExplainContainer {
        margin-top: 190px;
        position: absolute;
        top: 48.5%;
        left: 50%;
        width: 347px;
        box-shadow: 0 0 0px #ffffff69;
        
    }

    .popupInfoContainer {
        margin-top: 190px;
        top: 50%;
        left: 50%;

        width: 347px;

      

        box-shadow: 0 0 0px rgba(0, 0, 0, .7);
    }
    .popupExplainCloseBtn,.popupInfoCloseBtn {
    width: 19px;
    height: 30px;
    font-size: 52px;
    width: 19px;
    height: 30px; }


    




    .container {
        top: 56%;
        height: 84%;
        width: 71%;
        border-radius: 50px 50px 0px 0;

    }

    #question-container {
        font-size: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .btn {
 
        padding: 21px 9px;
        font-size: 23px;
      
    }
    .determineIQ {
        font-size: 10px;}

#finishTitle {
    font-size: 24px;
    height: 0%;}


    #scoreB {
        font-size: 13px;
        font-weight: bold;
        height: 0%;
        margin: 6px;}
    
        #finishPara {
            font-size: 12px;
            height: 1%;
            margin-bottom: 5px;
        }

    body{
    
            overflow-y: hidden; /* Hide vertical scrollbar */
            overflow-x: hidden; /* Hide horizontal scrollbar */

          
    }

    #topBar #yourScore {
        width: 10%;
        padding-right: 74px;


}
#topBar #score{
    width: 6%;
}

#game_menu {
    width: 94%;

    margin-left: 11px;

}


.popupInfoBtn {
    margin-left: 100px;}



.popupExplainBtn {
    margin-right: 100px;}



    .popupExplainContainer {
        margin-top: 221px;
        position: absolute;
        top: 48.5%;
        left: 50%;
        width: 347px;
        box-shadow: 0 0 0px #ffffff69;
      
    }

    .popupInfoContainer {
        margin-top: 221px;
        top: 50%;
        left: 50%;

        width: 347px;

      

        box-shadow: 0 0 0px rgba(0, 0, 0, .7);
    }
    .popupExplainCloseBtn,.popupInfoCloseBtn {
    width: 19px;
    height: 30px;
    font-size: 52px;
    width: 19px;
    height: 30px; }


    



    .popupExplainContainer,.popupInfoContainer{
        top: 35%;
        left: 48%;
        width: 315px;
        height: 206px;
    }
    .popupExplainBtn
    {
        margin-right: 50px;
    }

    .btn {
       
        font-size: 16px;



        
}
}

@media(max-width: 375px){/*iphone x, iphone 6,7,8 plus*/


    .container {
        top: 57%;
        height: 82%;
        width: 71%;
        border-radius: 50px 50px 0px 0;

    }

    #question-container {
        font-size: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .btn {
 
        padding: 21px 9px;
        font-size: 23px;
      
    }
    .determineIQ {
        font-size: 19px;}

#finishTitle {
    font-size: 24px;
    height: 0%;}


    #scoreB {
        font-size: 18px;
        font-weight: bold;
        height: 0%;
        margin: 12px}
    
        #finishPara {
            font-size: 14px;
            height: 1%;
            margin-bottom: 5px;
        }

    body{
    
            overflow-y: hidden; /* Hide vertical scrollbar */
            overflow-x: hidden; /* Hide horizontal scrollbar */

          
    }

    #topBar #yourScore {
        width: 10%;
        padding-right: 74px;


}
#topBar #score{
    width: 6%;
}

#game_menu {
    width: 94%;

    margin-left: 11px;

}


.popupInfoBtn {
    margin-left: 100px;}



.popupExplainBtn {
    margin-right: 100px;}



    .popupExplainContainer {
        margin-top: 185px;
        position: absolute;
        top: 48.5%;
        left: 50%;
        width: 347px;
        box-shadow: 0 0 0px #ffffff69;
       
    }

    .popupInfoContainer {
        margin-top: 185px;
        top: 50%;
        left: 50%;

        width: 347px;

      

        box-shadow: 0 0 0px rgba(0, 0, 0, .7);
    }
    .popupExplainCloseBtn,.popupInfoCloseBtn {
    width: 19px;
    height: 30px;
    font-size: 52px;
    width: 19px;
    height: 30px; }


    }

    @media(max-width: 414px){
        .container {
            top: 57%;
            height: 82%;
            width: 71%;
            border-radius: 50px 50px 0px 0;
    
        }
    
        #question-container {
            font-size: 22px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    
        .btn {
     
            padding: 21px 9px;
            font-size: 23px;
          
        }
        .determineIQ {
            font-size: 19px;}
    
    #finishTitle {
        font-size: 24px;
        height: 0%;}
    
    
        #scoreB {
            font-size: 18px;
            font-weight: bold;
            height: 0%;
            margin: 12px}
        
            #finishPara {
                font-size: 14px;
                height: 1%;
                margin-bottom: 5px;
            }
    
        body{
        
                overflow-y: hidden; /* Hide vertical scrollbar */
                overflow-x: hidden; /* Hide horizontal scrollbar */
    
              
        }
    
        #topBar #yourScore {
            width: 10%;
            padding-right: 74px;
    
    
    }
    #topBar #score{
        width: 6%;
    }
    
    #game_menu {
        width: 94%;
    
        margin-left: 11px;
    
    }
    
    
    .popupInfoBtn {
        margin-left: 100px;}
    
    
    
    .popupExplainBtn {
        margin-right: 100px;}
    
    
    
        .popupExplainContainer {
            margin-top: 190px;
            position: absolute;
            top: 48.5%;
            left: 50%;
            width: 347px;
            box-shadow: 0 0 0px #ffffff69;
          
        }
    
        .popupInfoContainer {
            margin-top: 190px;
            top: 50%;
            left: 50%;
    
            width: 347px;
    
           
    
            box-shadow: 0 0 0px rgba(0, 0, 0, .7);
        }
        .popupExplainCloseBtn,.popupInfoCloseBtn {
        width: 19px;
        height: 30px;
        font-size: 52px;
        width: 19px;
        height: 30px; }
    
    
        



       
       
       
        .container {
            top: 57%;
            height: 82%;
            width: 71%;
            border-radius: 50px 50px 0px 0;
    
        }
    
        #question-container {
            font-size: 22px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    
        .btn {
     
            padding: 21px 9px;
            font-size: 23px;
          
        }
        .determineIQ {
            font-size: 19px;}
    
    #finishTitle {
        font-size: 24px;
        height: 0%;}
    
    
        #scoreB {
            font-size: 18px;
            font-weight: bold;
            height: 0%;
            margin: 12px}
        
            #finishPara {
                font-size: 14px;
                height: 1%;
                margin-bottom: 5px;
            }
    
        body{
        
                overflow-y: hidden; /* Hide vertical scrollbar */
                overflow-x: hidden; /* Hide horizontal scrollbar */
    
              
        }
    
        #topBar #yourScore {
            width: 10%;
            padding-right: 74px;
    
    
    }
    #topBar #score{
        width: 6%;
    }
    
    #game_menu {
        width: 94%;
    
        margin-left: 11px;
    
    }
    
    
    .popupInfoBtn {
        margin-left: 100px;}
    
    
    
    .popupExplainBtn {
        margin-right: 100px;}
    
    
    
        .popupExplainContainer {
            margin-top: 190px;
            position: absolute;
            top: 48.5%;
            left: 50%;
            width: 347px;
            box-shadow: 0 0 0px #ffffff69;
            
        }
    
        .popupInfoContainer {
            margin-top: 190px;
            top: 50%;
            left: 50%;
    
            width: 347px;
    
          
    
            box-shadow: 0 0 0px rgba(0, 0, 0, .7);
        }
        .popupExplainCloseBtn,.popupInfoCloseBtn {
        width: 19px;
        height: 30px;
        font-size: 52px;
        width: 19px;
        height: 30px; }
    
    
        }





        
        
        .container {
            top: 55%;
            height: 75%;
    }

    @media(max-width: 375px){/*iphone 6,7,8*/
        .container {
            top: 57%;
            height: 82%;
            width: 82%;
            border-radius: 90px 90px 0px 0;
    
        }
    
        #question-container {
            font-size: 22px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    
        .btn {
     
            padding: 21px 9px;
            font-size: 23px;
          
        }
        .determineIQ {
            font-size: 14px;}
    
    #finishTitle {
        font-size: 22px;
        height: 0%;
    margin-top: 0px;
    }
    
    
        #scoreB {
            font-size: 15px;
            font-weight: bold;
            height: 0%;
            margin: 10px}
        
            #finishPara {
                font-size: 14px;
                height: 1%;
                margin-bottom: 5px;
            }
    
        body{
        
                overflow-y: hidden; /* Hide vertical scrollbar */
                overflow-x: hidden; /* Hide horizontal scrollbar */
    
              
        }
    
        #topBar #yourScore {
            width: 10%;
            padding-right: 74px;
    
    
    }
    #topBar #score{
        width: 6%;
    }
    
    #game_menu {
        width: 94%;
    
        margin-left: 11px;
    
    }
    
    
    .popupInfoBtn {
        margin-left: 100px;}
    
    
    
    .popupExplainBtn {
        margin-right: 100px;}
    
    
    
        .popupExplainContainer {
            margin-top: 190px;
            position: absolute;
            top: 48.5%;
            left: 50%;
            width: 347px;
            box-shadow: 0 0 0px #ffffff69;
          
        }
    
        .popupInfoContainer {
            margin-top: 190px;
            top: 50%;
            left: 50%;
    
            width: 347px;
    
    
            box-shadow: 0 0 0px rgba(0, 0, 0, .7);
        }
        .popupExplainCloseBtn,.popupInfoCloseBtn {
        width: 19px;
        height: 30px;
        font-size: 52px;
        width: 19px;
        height: 30px; }
    
    
        
       



       
        .popupExplainContainer,.popupInfoContainer{
            top: 46%;
            height: 24%;
        }

    


 

        #game_menu {
            width: 94%;
    }
}

   

    /* @media(max-width: 1024px){/*ipad pro

      

        .popupInfoContainer,.popupExplainContainer {
        background-color: #1b1b1b;
        box-shadow: 0 0 0px rgba(0, 0, 0, .7);
    }
    .popupInfoBtn{
        margin-left: 150px;
        height: 100px;
        width: 100px;

}
.popupExplainBtn {
    margin-right: 150px;
    height: 100px;
    width: 100px;
}


#game_menu{
    width: 107%;
    margin-left: -33px;
}

#game_play {
    height: 150px;
    width: 150px;}

    
    .popupExplainBtn i, .popupInfoBtn i{

        width: 70%;
        height: 70%;
        font-size: 48px;
    }
#game_play i{
    line-height: 141px;
}


.game_logo{
    margin-top: 35%;
       height: 300px;
    width: 300px;
}

.popupInfoContainer {

    margin-top: 167px;
    top: 60%;
    left: 50%;
    width: 450px;
    height: 223px;

}
.popupInfoTitle{
    font-size: 34px;
}

#twitterAccount,#instagramAccount,#emailAddress,#ver{
 
    font-size: 15px;
    margin: 1px;
  

}
  #twitterAccount a,#instagramAccount a,#emailAddress a{

    font-size: 25px;
  

    }


    .popupExplainCloseBtn,.popupInfoCloseBtn {
        width: 19px;
        height: 30px;
        font-size: 63px;
        width: 19px;
        height: 30px; }
    



        .popupExplainContainer {

            margin-top: 167px;
            top: 60%;
            left: 50%;
            width: 450px;
            height: 223px;
        
        }

        .popupExplainTitle{
            font-size: 34px;
        }
    
        .popupExplainContainer p {
    font-size: 17.5px;
}
#dd {
    font-size: 13px;
}

#topBar #yourScore {
    font-size: 46px;
    width: 15%;
}
#topBar #score {
font-size: 52px;
width: 3%;
}

        } */




          
         
          

