* {
    font-family: 'Tajawal', sans-serif;
}

body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-y: hidden;
    /* Hide vertical scrollbar */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    background-color: #4bb48d;
}

#whole {
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    min-width: 100%;
    object-fit: fill;
    background-color: #368366;
    touch-action: none;
}


/* <!---------- startMenu -------------> */

#game_menu {
    display: block;
    position: absolute;
    z-index: 3;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    border-radius: 500px 500px 0 0;
    height: 100%;
    width: 80%;
    bottom: 0;
    object-fit: fill;
    margin-left: 137px;
}

.menu_elements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game_logo {
    height: 200px;
    width: 200px;
    margin-bottom: 50px;
    margin-top: 10%;
    padding: 10px;
    background-color: #ff6d53;
    line-height: 175px;
    border-radius: 100%;
}

#logoImg {
    size: 1px;
    height: 100%;
    width: 100%;
}

#game_play {
    height: 90px;
    width: 90px;
    padding: 10px;
    background-color: #4bb48d;
    line-height: 90px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

#game_play:hover {
    background-color: #439e7d;
}

#game_play i {
    font-size: 70px;
    line-height: 90px;
    padding-left: 11px;
    color: #ff6d53;
}


/* pup up explain */

.popupExplain .overlayE {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
}

.popupExplainContainer {
    margin-top: 190px;
    position: absolute;
    top: 50%;
    left: 12.5%;
    transform: translate(-50%, -50%) scale(0);
    background: rgb(255, 255, 255);
    width: 400px;
    height: 170px;
    z-index: 10;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    transition: all 100ms ease-in-out;
    border: 5px solid #4bb48d;
    box-shadow: 0 0 40px rgba(0, 0, 0, .7);
}

.popupExplainTitle {
    font-size: 25;
}

.popupExplainPara {
    margin-top: 0px;
    margin-bottom: 0px;
}

.popupExplainCloseBtn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 5px;
    width: 30px;
    height: 30px;
    color: #ff6d53c5;
    font-size: 40px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    transition: all 100ms ease-in-out;
}

.popupExplainCloseBtn:hover {
    color: #ff6d53;
}

.popupExplain.activeE .overlayE {
    display: block;
}

.popupExplain.activeE .popupExplainContainer {
    transform: translate(-50%, -50%) scale(1);
}

.popupExplainBtn {
    margin-right: 400px;
    font-size: 18px;
    color: #222;
    font-weight: bold;
    background: #fff;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    padding: 10px;
    background-color: #ff6b6b;
    line-height: 50px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}


/* pup up info */

.popupInfo .overlayI {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
}

.popupInfoContainer {
    margin-top: 190px;
    position: absolute;
    top: 50%;
    left: 87.5%;
    transform: translate(-50%, -50%) scale(0);
    background: rgb(255, 255, 255);
    width: 400px;
    height: 170px;
    z-index: 10;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    transition: all 100ms ease-in-out;
    border: 5px solid #4bb48d;
    box-shadow: 0 0 40px rgba(0, 0, 0, .7);
}

.popupInfoTitle {
    font-size: 25;
}

.popupInfoCloseBtn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 5px;
    width: 30px;
    height: 30px;
    color: #ff6d53c5;
    font-size: 40px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    transition: all 100ms ease-in-out;
}

.popupInfoCloseBtn:hover {
    color: #ff6d53;
}

.popupInfo.activeI .overlayI {
    display: block;
}

.popupInfo.activeI .popupInfoContainer {
    transform: translate(-50%, -50%) scale(1);
}

.popupInfoBtn {
    margin-left: 400px;
    font-size: 18px;
    color: #222;
    font-weight: bold;
    background: #fff;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    padding: 10px;
    background-color: #ff6b6b;
    line-height: 50px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.popupInfoBtn:hover {
    background-color: #ff573a;
}

#dl {
    display: inline-block;
    color: #ff411f;
    background-color: #ffffff00;
    margin-top: 5px;
    font-family: 'Lalezar', cursive;
}

#dl h6 {
    margin: 0px;
    padding: 0px 0px;
    font-size: 9px;
    font-family: 'Lalezar', cursive;
}

#dd {
    display: none;
}

.popupExplainBtn:hover {
    background-color: #ff573a;
}

.popupExplainBtn i,
.popupInfoBtn i {
    color: #4bb48d;
}

.popupExplainContainer .popupExplainTitle {
    color: #ff593c;
    text-transform: uppercase;
    margin: 1px;
}

.popupExplainTitle {
    margin-bottom: 0px;
}

.popupExplainContainer p {
    color: #ff6247;
    font-weight: bold;
    font-size: 12.5px;
}

.popupInfoContainer .popupInfoTitle {
    color: #ff593c;
    text-transform: uppercase;
    margin: 0px;
}

.popupInfoContainer {
    color: #ff6247;
    font-weight: bold;
    font-size: 12.5px;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-items: center;
}

#twitterAccount,
#instagramAccount,
#emailAddress,
#ver {
    color: #ff6247;
    font-weight: bold;
    font-size: 10.5px;
    margin: 1px;
}

#twitterAccount a,
#instagramAccount a,
#emailAddress a,
#ver {
    color: #fd3816;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

#ver {
    font-size: 10px;
    text-align: center;
}

#emailAddress a i {
    font-weight: 800;
}

.popups {
    display: flex;
}


/* <!---------- endStartMenu -------------> */


/* <!---------- gamepaly -----------> */

#topBar {
    width: 100%;
    height: 7%;
    background-color: #ff6b51;
    display: flex;
    justify-content: center;
}

#topBar #yourScore {
    margin: 0;
    padding: 5px;
    width: 7%;
    padding-right: 0px;
    text-align: center;
    font-size: 25px;
    color: #224b3d;
}

#topBar #score {
    margin: 0;
    width: 1%;
    padding: 5px;
    padding-top: 1px;
    padding-right: 11px;
    font-size: 30px;
    color: #224b3d;
}

#scoreContainer {
    margin: 0;
}

body {
    background-color: #4bb48d;
}

.container {
    position: absolute;
    height: 80%;
    width: 33%;
    border-radius: 50px 50px 0px 0;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    z-index: 2;
    background-color: #89bdaa;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

#question-container {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
}

.btn {
    border: 0px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 20px 50px;
    color: rgb(0, 0, 0);
    outline: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    background-color: #4bb48d;
    color: black;
}

.btn.wrong {
    background-color: #ff6d53;
}

.start-btn,
.next-btn,
.restart-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.finish {
    margin-top: 5px;
    background-color: #6cbd9f;
    max-width: 100%;
    max-height: 50%;
    height: 24%;
    border-radius: 10px;
    border: 1px solid rgba(95, 158, 160, 0);
}

#finishRest {
    display: inline-flex;
}

#finishTitle {
    font-size: 30px;
    height: 1%;
}

#finishPara {
    font-size: 20px;
    height: 1%;
}

#scoreB {
    font-size: 23px;
    font-weight: bold;
    height: 1%;
    margin: 20px;
    margin-right: 5px;
    margin-left: 10px;
    background-color: #42be91;
    line-height: 25px;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

.determineIQ {
    font-size: 20px;
    max-width: 100%;
    height: 20%;
    background-color: #5a9c84;
    height: 49%;
    border-radius: 0 0 10px 10px;
}


/* pupups sqs */


/* <!---------- endGamepaly -----------> */